<!-- 
<div *ngIf="validCredentials == 1"class="loading-spinner">Iniciando sesión...
  <div class="spinner-border" style="width: 3rem; height: 3rem; margin-top: 10px;" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>  
</div> -->



<div class="overlay">
  <div class="row" style="width:100%; margin-right: 0px; margin-left: 0px; padding-bottom: 0px;">
      <div class="col-xl-4 col-lg-5 mx-auto col-md-6  col-sm-8  col-xs-12 " style="padding-left: 20px; padding-right: 20px; max-width: 450px;">
        <div style="padding-left: 40px; padding-right: 40px;padding-bottom:30px;text-align:center;">
          <img class="load" src="./assets/images/login/logo-gltracker3.png" alt="logo" style="max-width:100%; height:auto;">
        </div>
  
        <div style="background-color: #17476C; padding-top: 40px; padding-left: 20px; padding-right: 20px; padding-bottom:20px;">
          <form [formGroup]="loginForm" autocomplete="on"  novalidate>
              
              <div *ngIf="validCredentials == -1 && !isLoggingIn" class="alert alert-danger alert-dismissible fade show" role="alert">
                <div>
                  {{errMsg}}
                </div>
                <button (click)="resetLoginAlert()" type="button" class="btn-close" aria-label="Close" style="outline: none;"></button>
              </div>
              <!-- <div *ngIf="(loginForm.controls['name'].invalid && (loginForm.controls['name'].dirty || loginForm.controls['name'].touched)) || (loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched))" class="alert alert-danger">
                <div *ngIf="loginForm.controls['name'].errors">
                  Nombre de Usuario o Contraseña inválidos...
                </div>
              </div> -->

              <div class="form-group">
                  <input class="form-control" formControlName="name" type="text" placeholder="Nombre de Usuario">
              </div>
              
               <div class="form-group">
                  <input class="form-control" formControlName="password" type="password" placeholder="Contraseña">
              </div>
              
              <div class="flex-column mx-auto" style="margin-right: 0px; margin-left: 0px; margin-bottom: 20px;">
                <div class="col-md-6 col-sm-6 col-xs-6 text-left" style="padding-left: 0px; padding-right: 0px;">
                  <div class="checkbox">
                    <label style="font-size: 12px; color: white; padding-left: 45px;">
                      <input type="checkbox" value="Recordarme" style="width: 20px; height: 20px; margin-left: -45px; position: relative;"> Recordarme
                    </label>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 mx-auto text-center" style="padding-left: 0px; padding-right: 0px;">
                  <button type="submit"
                  [disabled]="loginForm.pristine || loginForm.invalid || isLoggingIn" class="btn btn-success" style="border-radius: 45px;" (click)="save()"  >
                      <div *ngIf="!isLoggingIn">Iniciar Sesión</div>
                      <div *ngIf="isLoggingIn">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Iniciando sesión
                      </div>
                  </button>
                </div>
              </div>

             
        </form>
        
          <form class="form-signin">
  
           
  
            <p class="text-center" style="color: #b5d5f2; font-size: 12px; margin-bottom: 15px;">¿Olvidaste tu nombre de usuario o contraseña?</p>
            <p class="text-center" style="color: #b5d5f2; font-size:10px; margin-bottom: 8px;">Contáctate con el administrador llamando al 052-290220</p>
            <div style="border-top: 2px solid white; padding-top: 15px;">
              <p class="text-center" style="color: white; font-size: 12px;">Sistema de Monitoreo Vehicular <span style="color: #b5d5f2;">GL Tracker Sur S.A.C. </span>Todos los derechos reservados.</p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
    
    <div class="footer footer-logo navbar-fixed-bottom hidden-sm hidden-xs">
      <div class="row" style="margin-right:0px; margin-left:0px; padding-bottom:20px;">
        <h4 class="text-center" style="color: white; padding-bottom:5px;">CERTIFICACIONES OFICIALES</h4>
        <div class="col-md col-md-offset" style="padding-left: 0px; padding-right: 0px;">
          <div class="certif-logos-container" style="margin-right:0px; margin-left:0px;">
            <div>
              <img class="load" src="./assets/images/login/osinergmin-rec.png" style="width:150px; height:40px;">
            </div>
            <div>
              <img class="load" src="./assets/images/login/apesoft-rec.png" style="width:150px; height:40px;">
            </div>
            <div>
              <img class="load" src="./assets/images/login/indecopi-rec.png" style="width:150px; height:40px;">
            </div>
            <div>
              <img class="load" src="./assets/images/login/sutran-rec.png" style="width:150px; height:40px;">
            </div>
            <div>
              <img class="load" src="./assets/images/login/mtc-rec.png" style="width:150px; height:40px;">
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-right:0px; margin-left:0px; padding-bottom: 10px;">
        <h4 class="text-center" style="color:white; padding-bottom:5px;">CERTIFICACIONES DE CALIDAD DE SOFTWARE</h4>
        <div class="col-md col-md-offset" style="padding-left: 0px; padding-right: 0px;">
          <div class="certif-logos-container" style="margin-right:0px; margin-left:0px;">
            <div>
              <img class="load" src="./assets/images/login/moprosoft.png" style="width:120px; height:120px;">
            </div>
            <div>
              <img class="load" src="./assets/images/login/iso.png" style="width:120px; height:120px;">
            </div>
            <div>
              <img class="load" src="./assets/images/login/ntp-rec.png" style="width:210px; height:120px;">
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="picsum-img-wrapper" style="background-color: #101010;">
  <img [src]="backgroundImage" alt="Random slide" class="mh-100" style="width: 100%; height: 100vh">
</div>

<!-- <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="picsum-img-wrapper" style="background-color: #101010;">
        <img [src]="image" alt="Random slide" class="mh-100" style="width: 100%; height: 100vh">
      </div>
      
    </ng-template>
</ngb-carousel> -->