
<ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="picsum-img-wrapper">
        <img [src]="image" alt="Random slide" class="mh-100" style="width: 100%; height: 100vh" >
      </div>
      <div class="carousel-caption">
        <div class="row" style="width:100%;height:100%; margin-right: 0px; margin-left: 0px; padding-top: 80px;">
            <div class="col-lg-4 col-lg-offset-4 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0" style="padding-left: 20px; padding-right: 20px;">
              <div style="padding-left: 40px; padding-right: 40px;padding-bottom:30px;text-align:center;">
                <img class="load" src="./assets/images/login/logo-gltracker3.png" alt="logo" style="max-width:100%; height:auto;">
              </div>
        
              <div style="background-color: #17476C; padding-top: 40px; padding-left: 20px; padding-right: 20px; padding-bottom:20px;">
                <form [formGroup]="loginForm" autocomplete="on"  novalidate>
                    <div class="form-group">
                        <input class="form-control" formControlName="name" type="text" placeholder="Nombre de Usuario prueba" >
                    </div>
              
                    <div *ngIf="loginForm.controls['name'].invalid && (loginForm.controls['name'].dirty || loginForm.controls['name'].touched)" class="alert alert-danger">
                        <div *ngIf="loginForm.controls['name'].errors">
                          Nombre de Usuario es Requerido.
                        </div>
                    </div>
                     <div class="form-group">
                        <input class="form-control" formControlName="password" type="password" placeholder="Contraseña" >
                    </div>
                    <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="alert alert-danger">
                        <div *ngIf="loginForm.controls['password'].errors">
                          Contraseña es Requerido.
                        </div>
                    </div>
                    <div class="row" style="margin-right: 0px; margin-left: 0px; margin-bottom: 20px;">
                      <div class="col-md-6 col-sm-6 col-xs-6 text-left" style="padding-left: 0px; padding-right: 0px;">
                        <div class="checkbox">
                          <label style="font-size: 12px; color: white; padding-left: 45px;">
                            <input type="checkbox" value="Recordarme" style="width: 20px; height: 20px; margin-left: -45px; position: relative;"> Recordarme
                          </label>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 text-right" style="padding-left: 0px; padding-right: 0px;">
                        <button type="submit"
                        [disabled]="loginForm.pristine || loginForm.invalid" class="btn btn-success" style="border-radius: 45px;" (click)="save()"  >
                            Iniciar Sesión
                        </button>
                      </div>
                    </div>

                   
              </form>
              
                <form class="form-signin" ng-submit="auth.onLogin()">
        
                 
        
                  <p class="text-center" style="color: #b5d5f2; font-size: 12px; margin-bottom: 15px;">¿Olvidaste tu nombre de usuario o contraseña?</p>
                  <p class="text-center" style="color: #b5d5f2; font-size:10px; margin-bottom: 8px;">Contactate con el administrador llamando al 052 290220</p>
                  <div style="border-top: 2px solid white; padding-top: 15px;">
                    <p class="text-center" style="color: white; font-size: 12px;">Sistema de Monitoreo Vehicular <span style="color: #b5d5f2;">GL Tracker Sur S.A.C. </span>Todos los derechos reservados.</p>
                  </div>
        
                </form>
              </div>
            </div>
          </div>
        
          <div class="footer footer-logo navbar-fixed-bottom hidden-sm hidden-xs">
            <div class="row" style="margin-right:0px; margin-left:0px; padding-bottom:30px;">
              <h4 class="text-center" style="color: white; padding-bottom: 20px;">CERTIFICACIONES OFICIALES</h4>
              <div class="col-md-8 col-md-offset-2" style="padding-left: 0px; padding-right: 0px;">
                <div class="row" style="margin-right:0px; margin-left:0px;">
                  <div class="col-md-2 col-md-offset-1">
                    <img class="load" src="./assets/images/login/osinergmin-rec.png" style="width:150px; height:40px;">
                  </div>
                  <div class="col-md-2">
                    <img class="load" src="./assets/images/login/apesoft-rec.png" style="width:150px; height:40px;">
                  </div>
                  <div class="col-md-2">
                    <img class="load" src="./assets/images/login/indecopi-rec.png" style="width:150px; height:40px;">
                  </div>
                  <div class="col-md-2">
                    <img class="load" src="./assets/images/login/sutran-rec.png" style="width:150px; height:40px;">
                  </div>
                  <div class="col-md-2">
                    <img class="load" src="./assets/images/login/mtc-rec.png" style="width:150px; height:40px;">
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin-right:0px; margin-left:0px; padding-bottom: 10px;">
              <h4 class="text-center" style="color:white; padding-bottom:20px;">CERTIFICACIONES DE CALIDAD DE SOFTWARE</h4>
              <div class="col-md-4 col-md-offset-4" style="padding-left: 0px; padding-right: 0px;">
                <div class="row" style="margin-right:0px; margin-left:0px;">
                  <div class="col-md-4">
                    <img class="load" src="./assets/images/login/moprosoft.png" style="width:120px; height:120px;">
                  </div>
                  <div class="col-md-4">
                    <img class="load" src="./assets/images/login/iso.png" style="width:120px; height:120px;">
                  </div>
                  <div class="col-md-4">
                    <img class="load" src="./assets/images/login/ntp-rec.png" style="width:210px; height:120px;">
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </ng-template>
</ngb-carousel>