.panel-geocerca{
  font-size: 11px;

}

.claseinputs {
    //margin-top: 4px;
    // display: block;
    height: 34px;
    font-size: 11px;
}

.fsize11 {
  font-size: 11px;
}


.tright {
  text-align: right;
}

