// tr { font-size: 10px; }
th { font-size: 14px; }
td { font-size: 10px; }
p {
    margin-top: 0;
    margin-bottom: 0rem;
}
.p-treetable tr td {
    padding: 0rem 0rem;
}

.dropdown-menu.show {
    .btn-label {
        text-align: center;
    }

    input + label, i + span {
        padding-left: 4px;
    }
}

.dropdown-item:active > span.btn-label > i {
    color: var(--gl-gray-subtitle) !important;
}

.dropdown-item {
    cursor: pointer;

    &.active-view {
        color: #000;
        cursor: default;
        text-decoration: none;
        background-color: var(--gl-gray);
    }
}

:host ::ng-deep {

    .p-treetable-scrollable-header {
        background-color: var(--gl-blue-dark);
        height: 2.375rem;
    }

    .p-treetable-thead {
        border-bottom: solid 1.1px var(--gl-blue-dark);
        
        tr > th {
            text-align: center;
            background-color: var(--gl-blue-dark);
            color: #fff;

            * > div > span > i,
            * > span > i {
                color: #fff !important;
            }
        }
    }

    .p-treetable-scrollable-body { 
        overflow: auto !important;
    }

    .p-treetable-tbody > {
        tr:not(.row-header-convoy, .row-header-grupo) > td{
            text-align: center;
        }

        tr > td {
            padding: 0 !important;
    
            > div.row > div.col-9:first-child > p-treetabletoggler {
                > button.p-treetable-toggler.p-link.p-ripple[style*="visibility: visible; margin-left: 16px;"]  {
                    margin-left: 0px !important; 
                }
                > button.p-treetable-toggler.p-link.p-ripple:enabled:hover{
                    border-color: inherit;
                    background: inherit;
                }
                > button {
                    outline: none;
                    box-shadow: none;
                }
        }
        
    }
    
    
    }

    tr.row-header-grupo {
        background-color: var(--gl-light-blue) !important;
        color: #fff !important;

        > td > div.row > div.col-9:first-child > p-treetabletoggler > button.p-treetable-toggler.p-link.p-ripple {
            color: #fff;
        }

        .burger-options > svg {
            fill: #fff;
            stroke: #fff;
        }
    }
    tr.row-header-convoy {
        background-color: var(--gl-gray-subtitle) !important;

        .burger-options > svg {
            fill: #495057;
            stroke: #495057;
        }
    }

    .icon-float-right > img {
        float: right;
    }

    /* i.pi{
        color: #fff;
    } */

    
    .dropdown-toggle {
        cursor: pointer;
    }
    .dropdown-toggle::after {
        display:none;
    }

    .p-treetable-loading > .p-treetable-loading-overlay { 
        display: none;
    }
}