<app-vehicle-config [display]="display" [config]="config" (eventDisplay)="onChangeDisplay($event)" (eventUpdate)="onUpdate($event)"></app-vehicle-config>

<p-dialog icon="pi pi-info-circle" [modal]="true" [style]="{width: '50vw'}" [(visible)]="displayDelete">
  <ng-template class="p-dialog-title" pTemplate="header">
    <div>
      <i class="fa fa-exclamation-triangle me-2" aria-hidden="true"></i>
      <strong>Descomponer</strong>
    </div>
  </ng-template>
    ¿Está seguro de descomponer {{textDelete}}?
      <div class="" *ngIf="loadingDelete">
        <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
      </div>
    <ng-template *ngIf="loadingDelete==false" pTemplate="footer">
      <div [ngStyle]="{'display':buttonDisplay, 'margin-top':'-1rem'}">
        <p-button icon="pi pi-check" (click)="onDelete()" label="Si" class="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="displayDelete=false" label="No"></p-button>
      </div>
        </ng-template>
</p-dialog>

<p-dialog header="" icon="pi pi-info-circle" [style]="{width: '50vw'}" [(visible)]="displayEditGroup">
  <ng-template class="p-dialog-title" pTemplate="header">
    <div>
      <i class="fa fa-pencil me-2" aria-hidden="true"></i>
      <strong>Editar {{textHeaderEdit}}</strong>
    </div>
  </ng-template>
  <div class="dialog-body-container">

    <div class="p-fluid p-formgrid p-grid">

      <div class="" *ngIf="loading">
        <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
      </div>

      <div class="dialog-form-container" [ngStyle]="{'display':formDisplay}">

        <div class="row gl-out-middleline">
          <div class="col p-field p-0">
            <div class="row gl-row-underline m-0 w-100">
              <div class="col-5 d-flex align-items-center justify-content-start text-start fw-bold">
                <label>Nombre:</label>
              </div>
              <div class="col-7">
                <input  #nameEdit id="float-input" type="text" pInputText class="p-inputtext-sm" placeholder="">
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="row d-flex justify-content-center">
          <div class="col-sm-12 col-md-10 align-self-center p-field">
            <div class="row">
              <div class="col-3 d-flex align-items-center justify-content-end text-end fw-bold">
                <label>Nombre:</label>
              </div>
              <div class="col-8">
                <input  #nameEdit id="float-input" type="text" pInputText class="p-inputtext-sm" placeholder="">
              </div>
            </div>
          </div>
        </div> -->

        <div class="flex-column mt-3">
          <div class="row gl-listbox-container">
            <div class="col">

              <p-listbox [options]="list1" [(ngModel)]="selectedList1" [multiple]="true" [checkbox]="true" [filter]="true" filterPlaceHolder="Buscar por placa" optionLabel="name" [listStyle]="{'height':'200px'}">
                <ng-template let-car pTemplate="item">
                    <div class="car-item">
                      <img border="0" width="25" height="25" src="assets/images/objects/nuevo/{{car.icon}}" style="display:inline-block;margin:2px 0 2px 2px">
                      <label>{{car.name}}</label>
                    </div>
                </ng-template>
              </p-listbox>
            </div>

            <div class="col-1 d-flex flex-column justify-content-center align-items-center">
              <div style="height: 1.5rem;"></div>
              <div class="">
                <button (click)="upList2()" type="button" class="btn btn-gl-light-blue btn-circle" name="button">
                  <span>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div style="height: 1rem;"></div>
              <div class="">
                <button (click)="upList1()" type="button" class="btn btn-gl-light-blue btn-circle" name="button">
                  <span>
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
            </div>

            <div class="col">
              <p-listbox [options]="list2" [(ngModel)]="selectedList2" [multiple]="true" [checkbox]="true" [filter]="true" filterPlaceHolder="Buscar por placa" optionLabel="name" [listStyle]="{'height':'200px'}">
                <ng-template let-car pTemplate="item">
                    <div class="car-item">
                      <img border="0" width="25" height="25" src="assets/images/objects/nuevo/{{car.icon}}" style="display:inline-block;margin:2px 0 2px 2px">
                      <label>{{car.name}}</label>
                    </div>
                </ng-template>
              </p-listbox>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <p-footer>
    <div class="row d-flex justify-content-center">
      <div class="col-4">
        <button (click)="displayEditGroup=false" type="button" class="btn-gl-cancel btn-dark-hover btn-sm w-100">Cancelar</button>
      </div>
      <div class="col-4">
        <button (click)="onConfirmationEdit()" type="button" class="btn-gl-save btn-dark-hover btn-sm w-100">Guardar</button>
      </div>
    </div>
  </p-footer>

</p-dialog>

<div style="position: relative; height: 100%;">
  <ngx-spinner *ngIf="!alreadyLoaded" bdColor = "rgba(0, 0, 0, 0.8)" name="loadingTreeTable" size = "medium" color = "#fff" type = "ball-pulse" [fullScreen] = "false"><p style="color: white" > Cargando Vehículos... </p></ngx-spinner>

  <div id="rowBusqueda" class="bg-gl-blue-dark">
    <div class="d-flex">
      <div class="d-flex flex-grow-1">

        <span class="p-input-icon-right flex-grow-1 me-2">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input (keyup)="onQuickFilterChanged($event)" type="text" ng-model="something.terms" placeholder="Placa/Código" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-change="something.search()" aria-invalid="false">
        </span>

        <button (click)="onClickGroup()" type="button" class="btn-gl-blue btn-circle btn-dark-hover flex-none me-2">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>

        <div ngbDropdown container="body" placement="right-top left-top" class="flex-none">
          <button class="btn-gl-gray-blue btn-dark-hover btn-circle" ngbDropdownToggle>
            <i class="fa fa-fw fa-bars fa-1" aria-hidden="true"></i>
          </button>
          <div ngbDropdownMenu class="gl-custom-dropdown dropdown-customize-vehicle-panel disable-chkbox-behavior">
            <div class="text-center">
              Personalizar Panel
            </div>
            <div class="container pt-2 png-checkbox-container">
              <div>
                <span (click)="onClickSetting('eye')">
                  <p-checkbox [(ngModel)]="setting['eye']" [binary]="true"></p-checkbox>
                  Ver
                </span>
              </div>
              <div>
                <label>
                  <p-checkbox [(ngModel)]="vehicleIconState" [binary]="true"></p-checkbox>
                  Ícono de Vehículo
                </label>
              </div>
              <div>
                <span (click)="onClickSetting('imei')">
                  <p-checkbox [(ngModel)]="setting['imei']" [binary]="true"></p-checkbox>
                  IMEI
                </span>
              </div>
              <div>
                <span (click)="onClickSetting('vehicle')">
                  <p-checkbox [(ngModel)]="setting['vehicle']" [binary]="true"></p-checkbox>
                  Vehículos
                </span>
              </div>
              <div>
                <span (click)="onClickSetting('tag')">
                  <p-checkbox [(ngModel)]="setting['tag']" [binary]="true"></p-checkbox>
                  Mostrar nombre
                </span>
              </div>
              <div>
                <span (click)="onClickSetting('follow')">
                  <p-checkbox [(ngModel)]="setting['follow']" [binary]="true"></p-checkbox>
                  Seguir Vehículo
                </span>
              </div>
              <div>
                <span (click)="onClickSetting('limit')">
                  <p-checkbox [(ngModel)]="setting['limit']" [binary]="true"></p-checkbox>
                  Velocidad
                </span>
              </div>
              <!-- <div>
                <span (click)="onClickSetting('gps')">
                  <p-checkbox [(ngModel)]="setting['gps']" [binary]="true"></p-checkbox>
                  GPS
                </span>
              </div>
              <div>
                <span (click)="onClickSetting('gsm')">
                  <p-checkbox [(ngModel)]="setting['gsm']" [binary]="true"></p-checkbox>
                  GSM
                </span>
              </div> -->
              <!-- <div>
                <span (click)="onClickSetting('trans')">
                  <p-checkbox [(ngModel)]="setting['trans']" [binary]="true"></p-checkbox>
                  Transmisión
                </span>
              </div> -->
              <div>
                <span (click)="onClickSetting('config')">
                  <p-checkbox [(ngModel)]="setting['config']" [binary]="true"></p-checkbox>
                  Configurar
                </span>
              </div>
              <div class="dropdown-divider"></div>
            </div>

            <!-- <div class="dropdown-item active-view" style="padding: 0.125rem 0.75rem;"> -->
            <div class="dropdown-item active" style="padding: 0.125rem 0.75rem;">
              <i  class="fas fa-sitemap ag-grid-header-icon text-center" style="width: 20px;"></i>
              <span (click)="onTableGroup()">Vista por Grupo</span>
            </div>
            <div class="dropdown-item" style="padding: 0.125rem 0.75rem;">
              <i class="fas fa-list ag-grid-header-icon text-center" style="width: 20px;"></i>
              <span (click)="onTableGeneral()">Vista General</span>
            </div>
            <div class="dropdown-item" style="padding: 0.125rem 0.75rem;">
              <i class="fas fa-signal ag-grid-header-icon text-center" style="width: 20px;"></i>
              <span (click)="onTableTransmision()">Vista por Transmisión*</span>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="">
    <!-- Cambiar scrollHeight a 100% - 4.375rem artificialmente -->
    <!-- scrollHeight no soporta porcentajes % -->
    <p-treeTable #tt [value]="vehicles" [loading]="loading" [resizableColumns]="true" [reorderableColumns]="true" [columns]="cols" [scrollable]="true" scrollHeight="calc(100vh - calc(calc(calc(var(--navbar-height) + var(--row-busqueda-height)) + calc(var(--pm-vehiculos-header-height) + var(--treetable-header-height)))))" styleClass="p-treetable-sm" sortField="name" [sortOrder]="sortOrder" [virtualScroll]="true" [virtualRowHeight]="30" [ngClass]="{'vehicle-treetable' : true}" (onFilter)="headerScrollHandler()">
      <!-- <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="20" placeholder="Buscar ..." (input)="globalFilter($event)" style="width:auto">
        </div>
      </ng-template> -->
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col style="width: 2.5rem;">
          <col style="width: 45px;" *ngIf="setting['eye']">
          <col style="width: 100%;" *ngIf="setting['vehicle']">
          <col style="width: 50%;" *ngIf="setting['imei']">
          <col style="width: 45px;" *ngIf="setting['tag']">
          <col style="width: 45px;" *ngIf="setting['follow']">
          <col style="width: 45px;" *ngIf="setting['limit']">
          <col style="width: 45px;" *ngIf="setting['gps']">
          <col style="width: 45px;" *ngIf="setting['gsm']">
          <col style="width: 45px;" *ngIf="setting['trans']">
          <col style="width: 45px;" *ngIf="setting['config']">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>

        <tr>
          <th></th>
          <th *ngIf="setting['eye']"><app-eye-header style="height: 1.25rem; display: flex;"></app-eye-header></th>
          <!-- <th *ngIf="setting['vehicle']"><app-vehicle-header (sort)="onSort($event)" ></app-vehicle-header></th> -->
          <th *ngIf="setting['vehicle']"></th>
          <th *ngIf="setting['imei']" style="text-align: center; white-space: nowrap;">IMEI</th>
          <th *ngIf="setting['tag']" ><app-tag-header></app-tag-header></th>
          <th *ngIf="setting['follow']" ><app-follow-header></app-follow-header></th>
          <th *ngIf="setting['limit']" ><app-limit-header></app-limit-header></th>
          <th *ngIf="setting['gps']" ><app-gps-header></app-gps-header></th>
          <th *ngIf="setting['gsm']" ><app-gsm-header></app-gsm-header></th>
          <!-- <th *ngIf="setting['trans']"><app-transmission-header></app-transmission-header></th> -->
          <th *ngIf="setting['config']" ><app-setting-header></app-setting-header></th>

        </tr>
        <!-- <th *ngFor="let col of columns" [ttSortableColumn]="col.field">
          {{col.header}}
          <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
        </th> -->
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">

        <tr *ngIf="rowData['col']==3" [ngClass]="{'row-header-grupo': rowData['type'] === 'grupo', 'row-header-convoy': rowData['type'] === 'convoy'}">
          <td></td>
          <td [attr.colspan]="column">
            <div class="d-flex justify-content-between align-items-center">

              <div class="d-flex justify-content-start flex-grow-1 align-items-center treetable-toggler-header">
                <p-treeTableToggler [rowNode]="rowNode" ></p-treeTableToggler>
                {{rowData['type'] === 'grupo' && rowData['name']!='Unidades Sin Grupo'? 'Grupo: ': rowData['type'] === 'convoy' && rowData['name']!='Unidades Sin Convoy'? 'Convoy: ': ''}}{{rowData["name"]}}
              </div>

              <div class="d-flex justify-content-end pe-3 flex-none">
                <div *ngIf="rowData['name']!='Unidades Sin Convoy'&&rowData['name']!='Unidades Sin Grupo'" class="col-3 p-0 m-0 d-flex flex-column justify-content-center">
                  <div class="d-flex justify-content-end">
                    <div ngbDropdown style="width: 16px;" container="body" [autoClose]="true" placement="right-top right-bottom left-top left-bottom">
                      <span ngbDropdownToggle class="btn-label burger-options" title="Opciones" data-bs-toggle="tooltip" data-bs-placement="top">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="stroke-width:1.5;" viewBox="0 0 16 16" class="dropdown-toggle bi bi-list" aria-expanded="false"><path _ngcontent-atd-c211="" fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path></svg>
                      </span>
                      <div ngbDropdownMenu class="gl-custom-dropdown treetable-dropdown">
                        <div *ngIf="rowData['name']!='Unidades Sin Convoy'&&rowData['name']!='Unidades Sin Grupo'" (click)="showEditGroup(rowData)" ngbDropdownItem>
                          <span class="btn-label">
                            Editar {{rowData['type']}}
                          </span>
                        </div>
                        <div *ngIf="rowData['name']!='Unidades Sin Convoy'&&rowData['name']!='Unidades Sin Grupo'" (click)="showDelete(rowData)" ngbDropdownItem>
                          <span class="btn-label">
                            Descomponer {{rowData['type']}}
                          </span>
                        </div>
                      </div>
                    </div>
                    <div style="width: 48px;"></div>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col-9">
                <p-treeTableToggler [rowNode]="rowNode" ></p-treeTableToggler>
                {{rowData['type'] === 'grupo' && rowData['name']!='Unidades Sin Grupo'? 'Grupo: ': rowData['type'] === 'convoy' && rowData['name']!='Unidades Sin Convoy'? 'Convoy: ': ''}}{{rowData["name"]}}
              </div>

              <div *ngIf="rowData['name']!='Unidades Sin Convoy'&&rowData['name']!='Unidades Sin Grupo'" class="col-3 p-0 m-0 d-flex flex-column justify-content-center">
                <div class="d-flex justify-content-end">
                  <div ngbDropdown style="width: 16px;" container="body" [autoClose]="true" placement="right-top right-bottom left-top left-bottom">
                    <span ngbDropdownToggle class="btn-label burger-options" title="Opciones" data-bs-toggle="tooltip" data-bs-placement="top">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="stroke-width:1.5;" viewBox="0 0 16 16" class="dropdown-toggle bi bi-list" aria-expanded="false"><path _ngcontent-atd-c211="" fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path></svg>
                    </span>
                    <ul ngbDropdownMenu>
                        <li *ngIf="rowData['name']!='Unidades Sin Convoy'&&rowData['name']!='Unidades Sin Grupo'" (click)="showDelete(rowData)" ngbDropdownItem>
                          <span class="btn-label">
                            <i class="fa fa-times" style="color:red; width: 18px;"></i>
                            Descomponer {{rowData['type']}}
                          </span>
                        </li>
                        <li *ngIf="rowData['name']!='Unidades Sin Convoy'&&rowData['name']!='Unidades Sin Grupo'" (click)="showEditGroup(rowData)" ngbDropdownItem>
                          <span class="btn-label">
                            <i class="fa fa-edit" style="color:#1F67A6; width: 18px;"></i>
                            Editar {{rowData['type']}}
                          </span>
                        </li>
                      </ul>
                  </div>
                  <div style="width: 48px;"></div>
                </div>
              </div>

            </div> -->
          </td>
        </tr>
        <tr *ngIf="rowData['col']!=3">
          <td></td>
          <td *ngIf="setting['eye']" class="eye-column">
            <!-- <span class="btn-label"><i class="fa fa-eye-slash" style="color:#444444;"></i></span> -->
            <!-- <p-treeTableToggler [rowNode]="rowNode" ></p-treeTableToggler> -->
            <div *ngIf="rowData['eye'] == true" class="" style="font-size: 14px; text-align: center;">
              <span (click)="onClickEye(rowData['IMEI'])" class="btn-label"><i class="fas fa-eye"></i></span>
            </div>
            <div *ngIf="rowData['eye'] == false" class="" style="font-size: 14px; text-align: center;">
              <span (click)="onClickEye(rowData['IMEI'])" class="btn-label"><i class="fa fa-eye-slash"></i></span>
            </div>
            <!-- <span class="btn-label"><i class="fa fa-eye" style="color:#444444;"></i></span> -->
          </td>
          <td *ngIf="setting['vehicle']" style="min-width: 215px;" class="vehicle-column">
            <div class="d-flex justify-content-center align-items-center mx-2" (click)="onClickIcon(rowData['IMEI'])">
              <div class="vehicle-transmission-status" style="background-color:{{color[rowData['point_color']]}}" title="{{hint[rowData['point_color']]}}" data-bs-toggle="tooltip" data-bs-placement="top" container="body"></div>
              <div class="flex-none icon-float-right vehicle-icon ms-2" *ngIf="vehicleIconState">
                <img border="0" width="25" height="25" src="assets/images/objects/nuevo/{{ rowData['icon'] }}">
              </div>
              <div class="flex-grow-1 d-flex flex-column text-start vehicle-data">
                <strong>{{rowData['name']}}</strong>
                <span>{{rowData['dt_tracker']}}</span>
                <!-- <aside class="">
                  {{rowData['name']}} <br>
                  <small>
                    {{rowData['dt_tracker']}}
                  </small>
                </aside> -->
              </div>
            </div>
          </td>
          <td *ngIf="setting['imei']">
            {{rowData['IMEI']}}
          </td>
          <td *ngIf="setting['tag']" class="inline-png-checkbox disable-chkbox-behavior">
            <!-- <input type="checkbox" name="" value="" checked> -->
            <span class="btn-label" title="{{(rowData.tag? 'Ocultar': 'Mostrar') + ' etiqueta de vehículo'}}" (click)="onClickTag(rowData['IMEI'])">
              <p-checkbox [(ngModel)]="rowData.tag" [binary]="true"></p-checkbox>
            </span>
          </td>
          <td *ngIf="setting['follow']" class="inline-png-checkbox follow-column">
            <span class="btn-label" title="Seguir vehículo" (click)="onClickFollow(rowData)">
              <!-- <i class="fas fa-crosshairs" style="color:#444444; font-size: 14px;"></i> -->
              <p-checkbox [(ngModel)]="rowData.follow" [binary]="true"></p-checkbox>
            </span>
          </td>
          <td *ngIf="setting['limit']">
            {{rowData['speed']}}
          </td>
          <td *ngIf="setting['gps']">
            <span class="btn-label"><i class="fa fa-wifi"></i></span>
          </td>
          <td *ngIf="setting['gsm']">
            <span class="btn-label"><i class="fa fa-wifi"></i></span>
          </td>
          <!-- <td *ngIf="setting['trans']">
            <span class="btn-label">
              <i class="fa fa-circle" style="color:{{color[rowData['point_color']]}}"></i>
            </span>
          </td> -->
          <td *ngIf="setting['config']" class="edit-column">
            <i (click)="onClickConfig(rowData)" class="fa fa-pencil"></i>
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>

</div>
