<!-- <p>
  <img (click)="onClickIcon()" border="0" width="25" height="25" src="assets/images/objects/nuevo/{{ params.value.icon }}">
  {{params.value.name}} <br>
  <small>
    {{params.value.dt_tracker}}
  </small>
</p> -->
<div class="row">
  <div class="col-3">
    <img (click)="onClickIcon()" border="0" width="25" height="25" src="assets/images/objects/nuevo/{{ params.value.icon }}">
  </div>
  <div class="col-9" style="line-height: 18px;">    
      {{params.value.name}} <br>
      <small>
        {{params.value.dt_tracker}}
      </small>
  </div>
</div>
