<!-- <p>
  <img (click)="onClickIcon()" border="0" width="25" height="25" src="assets/images/objects/nuevo/{{ params.value.icon }}">
  {{params.value.name}} <br>
  <small>
    {{params.value.dt_tracker}}
  </small>
</p> -->
<div class="d-flex justify-content-center mx-2">
  <div class="flex-none icon-float-right p-0 vehicle-icon-column me-2">
    <img (click)="onClickIcon()" border="0" width="25" height="25" src="assets/images/objects/nuevo/{{ params.value.icon }}">
  </div>
  <div class="flex-grow-1 d-flex flex-column text-start vehicle-data" style="line-height: 0.875rem;">
    <strong>{{params.value.name}}</strong>
    <span>{{params.value.dt_tracker}}</span>
      <!-- {{params.value.name}} <br>
      <small>
        {{params.value.dt_tracker}}
      </small> -->
  </div>
</div>
