<p-dialog [(visible)]="driversService.historyDriverActive" [modal]="true" [breakpoints]="{'1200px': '65vw', '960px': '75vw', '640px': '100vw'}" [resizable]="false" [style]="{width: '55vw'}" >
    <ng-template class="p-dialog-title" pTemplate="header">
      <div>
        <i class="fa fa-user me-2" aria-hidden="true"></i>
        <strong [innerHTML]="this.driversService.historyType == 'driver' ? 'Historial de Vehículos de un Conductor':'Historial de Conductores de un vehículo' " ></strong>
      </div>
    </ng-template>
    <div class="dialog-body-container">
  
        <div class="p-fluid p-formgrid p-grid" style="font-size: 12px;">
  
            <div class="dialog-form-container d-flex" >

                <div class="row" *ngIf="driversService.historyType=='driver'">
                    <div class="col p-field">
                      <label class="row gl-row-underline">
                        <div class="col-5 d-flex align-items-center justify-content-start text-start fw-bold">
                          <label for="tipo-unidad">Ver Historial del Conductor:</label>
                        </div>
                        <div class="col-7">
                          <div class="p-field">
                            <p-dropdown
                            [filter]="true"
                            [(ngModel)]="selectedDriver"
                            [options]="drivers"
                            optionLabel="trama.nombre_conductor"
                            optionValue="trama.id"
                            [showClear]="true"
                            [appendTo]="'body'"
                            (onChange)="onChangeFilter($event)"
                            placeholder="Seleccione el Conductor"></p-dropdown>
                          </div>
                        </div>
                      </label>
                    </div>
                </div>
                <div class="row" *ngIf="driversService.historyType=='vehicle'">
                    <div class="col p-field">
                      <label class="row gl-row-underline">
                        <div class="col-5 d-flex align-items-center justify-content-start text-start fw-bold">
                          <label for="tipo-unidad">Ver Historial del Vehículo:</label>
                        </div>
                        <div class="col-7">
                          <div class="p-field">
                            <p-dropdown
                            [filter]="true"
                            [(ngModel)]="selectedVehicle"
                            [options]="vehicles"
                            optionLabel="nombre"
                            optionValue="imei"
                            [showClear]="true"
                            [appendTo]="'body'"
                            (onChange)="onChangeFilter($event)"
                            placeholder="Seleccione el Vehículo"></p-dropdown>
                          </div>
                        </div>
                      </label>
                    </div>
                </div>

                <!-- En tu componente HTML -->
                <div class="table-container" *ngIf="activeTable; else noDataMessage">
                    <p-table styleClass="p-datatable-striped" [value]="filteredHistory" [paginator]="true" [rows]="10">
                        <!-- Definir las columnas de la tabla según tus necesidades -->
                        <ng-template pTemplate="header" *ngIf="driversService.historyType == 'driver'">
                            <tr>
                                <th style="width:20%">IMEI</th>
                                <th style="width:25%">Nombre</th>
                                <th style="width:25%">Desde</th>
                                <th style="width:25%">Hasta</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="header" *ngIf="driversService.historyType == 'vehicle'">
                            <tr>
                                <th style="width:20%">Nombre</th>
                                <th style="width:15%">DNI</th>
                                <th style="width:15%">Nro Ibutton</th>
                                <th style="width:20%">Desde</th>
                                <th style="width:20%">Hasta</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" *ngIf="driversService.historyType == 'vehicle'" let-fill>
                            <tr>
                                <td>{{ fill.name_driver }}</td>
                                <td>{{ fill.dni_driver }}</td>
                                <td>{{ fill.nro_llave }} </td>
                                <td>{{ fill.fecha_ini }}</td>
                                <td>{{ fill.fecha_fin }}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" *ngIf="driversService.historyType == 'driver'" let-fill>
                            <tr>
                                <td>{{ fill.tracker_imei }}</td>
                                <td>{{ fill.num_placa }}</td>
                                <td>{{ fill.fecha_ini }}</td>
                                <td>{{ fill.fecha_fin }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <ng-template #noDataMessage>
                  <div class="no-data-message" *ngIf="showNoData">
                      <p>No hay datos disponibles.</p>
                  </div>
                </ng-template>
            </div>
        </div>
    </div>
  
    <ng-template pTemplate="footer" style="width: 60vw;">
    </ng-template>
  
  
  </p-dialog>
  