.event-column{
    background-color: inherit;
    color: #000;
    border-radius: 0.375rem;
    padding: 0.125rem 0.625rem 0.125rem 0;
    height: 2.5rem;
    display: flex;
    align-items: center;
}    

.unread-event:not(.watched-event){
    .event-column{
        background-color: var(--event-main-color);
        color: #fff;
        font-weight: bold;
        padding: 0.125rem 0.625rem;
    }
}

th{
    text-align: start;
}

:host ::ng-deep {
    p-dropdown {
        > .p-dropdown.p-component {
            border: 1px solid var(--gl-gray);
            border-radius: 0.25rem;
            height: 2.375rem;
            > span.p-dropdown-label {
                padding: 0.37rem 0.75rem;
            }
        }
    }
}