<div style="height: calc(100vh - 150px); overflow-y: auto">
  <div class="card-body">
    <h5>Eventos</h5>
  </div>

  <div class="card-body" id="rowBusqueda">
    <div class="row">
      <div class="col-sm-9">
        <input
          type="text"

          [(ngModel)]="placa"
          class="form-control"
          placeholder="Buscar por placa"
        />
      </div>
    </div>
  </div>

  <table id="tbl_events" class="table table-hover">

    <thead>
      <tr class="bg-light">
        <td>Evento</td>
        <td>Nombre</td>
        <td>Placa</td>
        <td>Fecha</td>
        <td><span class="fas fa-eye"></span></td>
        <td><span class="fa fa-eye-slash"></span></td>
      </tr>
    </thead>
    <tbody style="height: 300px">
      <tr *ngFor="let event of events">
        <td>{{ event.evento }}</td>
        <td>{{ event.nombre }}</td>
        <td>{{ event.nombre_objeto }}</td>
        <td>{{ event.fecha_tracker }}</td>
        <td width="10%" (click)="showEvent(event)">
          <a href="" (click)="$event.preventDefault()">Ver</a>
        </td>
        <td width="10%"(click)="hideEvent(event)" >
          <a href="" (click)="$event.preventDefault()">Ocultar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
