<div class="table-content-component-panel-monitoreo" style="position: relative;">

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" name="loadingEventList" size = "medium" color = "#fff" type = "ball-pulse" [fullScreen] = "false"><p style="color: white" #loadingSpinner> Cargando Eventos... </p></ngx-spinner>
  <div *ngIf="eventService.eventDeveloperStatus">
    <div class="">
      <label>Debug Servicio Event</label>
    </div>
    <div class="">
      <label for="">imei de unidad:</label>
      <input [(ngModel)]="imei_debug" type="text" name="" value="864200050708453">
    </div>
    <div class="">
      <button type="button" name="button">Terminar Debug</button>
      <button (click)="clickDatosDebug()"  type="button" name="button">Ver datos IMEI</button>
      <button (click)="clickEndDeveloper()" type="button" name="button">Terminar modo Desarrolador</button>
    </div>
    <div class="">
      <ul>
        <li *ngFor="let debug of data_debug">
          {{debug}}
        </li>
      </ul>
    </div>
  </div>
  <div class="card-body p-fluid" id="rowBusqueda">
    <div class="row">
      <div class="col-sm-6">
        <input
          type="text"

          [(ngModel)]="placa"
          class="form-control"
          placeholder="Buscar por placa"
          (keyup)="searchByPlate();"
        />
      </div>
      <div class="col-sm-6">
        <!-- <input
          type="text"

          [(ngModel)]="placa"
          class="form-control"
          placeholder="Tipo de Evento"
        /> -->
        <p-dropdown [options]="eventService.classFilterArray" [(ngModel)]="selectedEvent" optionLabel="option" optionValue="tipo" [appendTo]="'body'" [showClear]="true" [filter]="true" filterBy="option" placeholder="Todos los Eventos" (ngModelChange)="changeTypeEvent()"></p-dropdown>
      </div>
    </div>
  </div>

  <div class="panel-izq-table-container">
    <table id="tbl_events">
      <thead class="visible-on-scroll">
        <tr>
          <th (click)="clickEventPanel()" >Evento</th>
          <th>Nombre</th>
          <th>Placa</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let event of eventService.eventsFiltered">
          <tr #currRow (click)="switchEventOnMap(event, currRow)" [ngClass]="{ 'unread-event': !event.viewed, 'tr-selected': event.id == eventService.activeEvent.id }" [class]="event.clase">
            <td>
              <div class="event-column">
                <span>{{ event.evento }}</span>
              </div>
            </td>
            <td>{{ event.nombre }}</td>
            <td>{{ event.nombre_objeto }}</td>
            <td>{{ event.fecha_tracker }}</td>
          </tr>
        </ng-container>
        <tr *ngIf="noResults">
          <td colspan="4" class="text-center">Sin coinicidencias</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
