.y-form-container{
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
}

.btn-toggle-option{
    width: 50%;
    text-align: center;
    border: 3px solid var(--gl-gray);
    padding: calc(0.2rem - 4px) 0px;
    cursor: auto;
}

.btn-toggle-option.disabled{
    background-color: #ffffff;
    color: var(--gl-gray);
    cursor: pointer;
}

.btn-toggle-option.disabled:hover{
    color: var(--gl-gray-hover);
}

.btn-toggle-left{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: 1.5px solid var(--gl-gray);
}
.btn-toggle-right{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: 1.5px solid var(--gl-gray);
}

:host ::ng-deep {
    .p-card-content{
        padding: 0;
    }

    .p-card-footer{
        display: flex;
        justify-content: center;
    }

    #vehicle_label + p-multiselect > .p-multiselect.p-component,
    #zone_label + p-multiselect > .p-multiselect.p-component{
        margin-bottom: 0px;
    }

    .p-inputnumber-input{
        border: none;
    }

    .p-component-overlay.p-dialog-top-left > .p-dialog.p-component > .p-dialog-header,
    .p-component-overlay.p-dialog-top > .p-dialog.p-component > .p-dialog-header{
        flex-direction: row-reverse;
    }

    /* FORM INPUTS STYLES */
    p-inputnumber{
        /* Experimental to handle x-margin 0.3rem*/
        display: flex;
    }
      
    .p-dropdown.p-component, .p-multiselect.p-component, .p-inputnumber.p-component{
        border: none;
        border-bottom: 1px solid #000000;
        border-radius: 0px;
        margin: 1rem 0.3rem;
    }
    /* END OF FORM INPUTS STYLES */


}

.blocked-tab-popup{
    position: absolute;
    top: 20px;
    width: 362px;
    height: 125px;
    left: 50px;
}

