.cronometer {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.sidebar-recorder {
    height: 3rem;
}

.preview-video {
    width: 100%;
    height: auto;
}

.preview-container {
    width: 100%;
    padding-bottom: 2rem;
}