.cronometer {
    width: 7rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.recorder-content {
    height: 1.75rem;
}

.recorder-content-minimap {
    height: 3rem;
}

.sidebar-recorder {
    height: 100%;
}

.preview-video {
    width: 100%;
    height: auto;
}

.preview-container {
    width: 100%;
    padding-bottom: 2rem;
}