#graficohistorial{
  height:240px;
  //height:calc(100% - 50px);
  // width: calc(100% - 465px);
  width: 100%;
  background: #fff; background-color:#FFF;
  // display: none;
  // position:absolute;
  right:0px;
  bottom:0px;
  overflow-y: auto;
  // overflow-x: hidden;
  padding: 5px;
  // z-index: 20000;
}


#placeholder{
  height:160px;
  width: 790px;
}



.p-dialog.p-component .p-dialog-content {
  padding: 1.5rem 1.5rem 0.0rem 1.5rem;

}

.p-dialog-content {
  flex-grow: 1;
  /* overflow-y: auto; */
}


.p-dialog .p-dialog-footer {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

#datoslegend {
  font-size: 11px;
}

.claseinputs {
  margin-top: 4px;
  // display: block;
  width: 100%;
  height: 22px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.claseicon {
  font-size: 14px;
  width: 35px;
  text-align: center;
}

.btn-xss {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  display: inline-block;
  white-space: nowrap;
}

#tbl_consola tr:nth-child(odd) {
  background-color: #ffffff;
}
#tbl_consola tr:nth-child(even) {
background-color: #ffffff !important;
}
#tbl_consola thead th {
  background-color: #EFF0F4;
  color: #1f1d1d;
}
#tbl_consola tbody td { /* 4 tables */
  border: 1px solid #EFF0F4;
  border-left: none;
  border-right: none;
  padding: 3px;
}
#tbl_consola tbody tr:hover { /* 4 tables */
  background-color: #EFF0F4 !important;
}
#tbl_consola tbody {
  overflow-x: auto;
  overflow-y: auto;
}

#tbl_consola {
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
}

p.rredd {
  color: red;
  font-size: 20px;
}



:host ::ng-deep .p-slider { 
  // width: 300px; 
  height: 9px; 
} 

:host ::ng-deep .p-slider .p-slider-range{ 
  background: #00CCFF; 
}


:host ::ng-deep .p-slider-handle { 
  border-color: grey; 
} 

:host ::ng-deep .p-slider .p-slider-handle:hover { 
  border-color: grey; 
  background: grey; 
} 

:host ::ng-deep .p-slider .p-slider-handle:focus { 
  border-color: grey; 
  box-shadow: grey; 
  background: grey; 
}