<!-- <div class="table-responsive" style="width: 100%; height: 450px; font-size: 12px;"> -->
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">

      <thead class="visible-on-scroll">
        <tr>
            <!-- <th width="8%" class="text-center">Nº</th> -->
            <th width="35%" class="text-start">Nombre</th>
            <th width="35%" class="text-start">Tipo</th>
            <th width="7.5%">Activos</th>
            <th width="7.5%">Sistema</th>
            <th width="7.5%"><i class="fa fas fa-at fa-lg"></i></th>
            <th width="7.5%"><i class="fa fa-pencil fa-lg"></i></th>
        </tr>
      </thead>

      <tbody>
      <tr *ngFor="let alert of alerts">
          <!-- <td title="'Nº'" class="text-center" >
            {{alert.nr}}
          </td> -->
          <td title="'NOMBRE'" class="text-start">
            {{alert.nombre}}
          </td>
          <td title="'TIPO'" class="text-start">
            {{alert.tipo}}
          </td>
          <td title="'ACTIVOS'" class="text-center">
            <div data-imei="alert.imei" class="text-center">
                <app-active-alert [alert]="alert"></app-active-alert>
            </div>
          </td>
          <td title="'SISTEMA'" class="text-center">
            <div data-imei="alert.imei" class="text-center">
                <app-system-alert [alert]="alert"></app-system-alert>
            </div>
          </td>
          <td title="'E-MAIL'" class="text-center">
            <div data-imei="alert.imei" class="text-center">
                <app-email-alert [alert]="alert"></app-email-alert>
            </div>
          </td>
          <td class="text-center">
            <app-actions-alert [alert]="alert" [nameComponent]="'ALERTS-ACCESSORIES'" (editAlert)="edit($event)" (deleteAlert)="loadData()"></app-actions-alert>
          </td>
      </tr>
      </tbody>
    </table>
<!-- </div>
 -->