<div class=" view-container d-flex flex-column ">
  <div class="grid-section" [id]="container" #MapView>
  
  </div>
</div>

<p-dialog header="Mostrar Punto" [(visible)]="mapServicesService.display" id="grebo">
    <table cellspacing="0" border="0">
        <tbody>
          <tr>
            <td>Latitud:</td>
            <td align="right">
              <input id="dialog_show_point_lat" type="text" />
            </td>
          </tr>
          <tr>
            <td>Longitud:</td>
            <td align="right">
              <input id="dialog_show_point_lng" type="text" value="" />
            </td>
          </tr>
        </tbody>
      </table>
      <p-footer>
        <div class="row justify-content-center gap-3">
          <button class="btn-gl-save btn-dark-hover fw-bold col-5" (click)="showCoordinate()">Mostrar</button>
          <button class="btn-gl-red btn-dark-hover fw-bold col-5" (click)="hideCoordinate()">Cancelar</button>
        </div>
      </p-footer>
</p-dialog>

<p-dialog *ngIf="vehiclesIsLoaded" 
  [(visible)]="mapServicesService.showSearch" 
  id="searchItems"
  [showHeader]="false"
  [closable]="false"
  [position]="'top-right'"
  [contentStyle]="{padding:'0', background:'transparent'}"
  [style]="{'margin-right':'45px', 'margin-top':'calc(var(--navbar-height) + 270px)'}"
  [dismissableMask]="true"
>
  <ng-template let-vehicle pTemplate="content">
    <p-dropdown 
      [options]="mapService.vehicleService.vehicles" 
      (onChange)="searchItem($event)" 
      optionLabel="plate_number" 
      [filter]="true" 
      filterBy="plate_number,name,empresa,IMEI" 
      [showClear]="true" 
      placeholder="Búsqueda" 
      appendTo="body"
      [style]="{width:'14rem'}"
    >
      <ng-template let-vehicle pTemplate="item">
        <div>{{vehicle.name.toLowerCase() == vehicle.plate_number.toLowerCase() ? vehicle.name : vehicle.name + ' - ' +vehicle.plate_number}}</div>
      </ng-template>
    </p-dropdown>
  </ng-template>
</p-dialog>

