  #map {
    height: 100%;
  }

  :host ::ng-deep {

    /* PROPUESTAS */
    .fatiga,
    .somnolencia,
    .desvio-carril-izq,
    .desvio-carril-der,
    .bloqueo-vision-mobileye,
    .colision-peatones,
    .colision-delantera,
    .posible-fatiga,
    .fatiga-extrema,
    .frenada-brusca,
    .aceleracion-brusca,
    .vehiculo-sin-programacion,
    .mantenimiento-correctivo-realizado,
    .mantenimiento-preventivo-realizado,
    .bateria-desconectada,
    .motor-encendido,
    .motor-apagado,

    /* DEFINIDOS */
    .zona-entrada,
    .zona-salida,
    .tiempo-estadia-zona,
    .parada-zona-no-autorizada,
    .mantenimiento-correctivo,
    .mantenimiento-preventivo,
    .infraccion,
    .sos-event,
    .exceso-velocidad,
    .tiempo-estadia-zona{

      .leaflet-popup-content-wrapper,
      a.leaflet-popup-close-button{
        color: #fff;
      }
      
    }

    .fatiga{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #546e7a;
      }
    }

    .somnolencia{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #757575;
      }
    }

    .desvio-carril-izq{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #006978;
      }
    }

    .desvio-carril-der{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #387002;
      }
    }

    .bloqueo-vision-mobileye{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #424242;
      }
    }

    .colision-peatones{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #ba000d;
      }
    }

    .colision-delantera{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #ba000d;
      }
    }

    .posible-fatiga{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #8d6e63;
      }
    }

    .fatiga-extrema{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #c53d13;
      }
    }

    .frenada-brusca{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #9e00c5;
      }
    }

    .aceleracion-brusca{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #7c4dff;
      }
    }

    .vehiculo-sin-programacion{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #b4004e;
      }
    }

    .mantenimiento-correctivo-realizado{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #7e57c2;
      }
    }

    .mantenimiento-preventivo-realizado{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #5c6bc0;
      }
    }

    .bateria-desconectada{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #f44336;
      }
    }

    .motor-encendido{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #039be5;
      }
    }

    .motor-apagado{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #757575;
      }
    }

    .zona-entrada{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #F58634;
      }
    }

    .zona-salida{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #DFC136;
      }
    }

    .tiempo-estadia-zona{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #72BF88;
      }
    }

    .parada-zona-no-autorizada{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #00A3E4;
      }
    }

    .mantenimiento-correctivo{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #7C7BBB;
      }
    }

    .mantenimiento-preventivo{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #264E86;
      }
    }

    .infraccion{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #373435;
      }
    }

    .sos-event{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #A9BF45;
      }
    }

    .exceso-velocidad{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #EE3142;
      }
    }

    .tiempo-estadia-zona{
      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: #72BF88;
      }
    }

    .default-event{
      .leaflet-popup-content-wrapper,
      a.leaflet-popup-close-button{
        color: #000;
      }
    }

    /* Nombres de vehículos */
    .leaflet-tooltip.leaflet-tooltip-right:not(.leaflet-tooltip-own),
    .leaflet-tooltip.leaflet-tooltip-left:not(.leaflet-tooltip-own){
      border: none;
      color: #fff;
      /* border: 2px solid #000; */
      border-radius: 8px;
      background-color: var(--gl-light-blue);;
      /* background-color: rgba(255,255,255,0.625); */
      font-weight: bold;
      /* -webkit-text-stroke: 0.75px black; */
    }

    .leaflet-tooltip-right:before {
      /* border-right-color: #000; */
      border-right-color: var(--gl-light-blue);
      left: 1px;
    }
    .leaflet-tooltip-left:before {
      border-left-color: var(--gl-light-blue);
      right: 1px;
    }

    /* Nombres de geocercas */
    /* Nombres de geopuntos */
    .leaflet-tooltip.leaflet-tooltip-own.leaflet-zoom-animated.leaflet-tooltip-center {
      background: none;
      border: none;
      box-shadow: none;
      > b {
        padding: 0.2rem 0.4rem; 
        border-radius: 1rem; 
      }
    }

    

    

  }
