  #map {
    height: 100%;
  }

  ::ng-deep{
    /* PROPUESTAS de COLOR*/
    .fatiga{
      --event-main-color: #546e7a;
    }
    .somnolencia{
      --event-main-color: #757575;
    }
    .desvio-carril-izq, .desvio-carril-izquierda{
      --event-main-color: #006978;
    }
    .desvio-carril-der, .desvio-carril-derecha{
      --event-main-color: #387002;
    }
    .bloqueo-vision-mobileye{
      --event-main-color: #424242;
    }
    .colision-peatones{
      --event-main-color: #ba000d;
    }

    .colision-delantera{
      --event-main-color: #ba000d;
    }

    .posible-fatiga{
      --event-main-color: #8d6e63;
    }

    .fatiga-extrema{
      --event-main-color: #c53d13;
    }

    .frenada-brusca{
      --event-main-color: #9e00c5;
    }

    .aceleracion-brusca{
      --event-main-color: #7c4dff;
    }

    .vehiculo-sin-programacion{
      --event-main-color: #b4004e;
    }

    .mantenimiento-correctivo-realizado{
      --event-main-color: #7e57c2;
    }

    .mantenimiento-preventivo-realizado{
      --event-main-color: #5c6bc0;
    }

    .bateria-desconectada{
      --event-main-color: #f44336;
    }

    .motor-encendido{
      --event-main-color: #039be5;
    }

    .motor-apagado{
      --event-main-color: #757575;
    }

    .distraccion{
      --event-main-color: #546e7a;
    }


    /* COLORES DEFINIDOS */
    .zona-entrada, .zona-de-entrada{
      --event-main-color: #F58634;
    }

    .zona-salida, .zona-de-salida{
      --event-main-color: #DFC136;
    }

    .tiempo-estadia-zona{
      --event-main-color: #72BF88;
    }

    .parada-zona-no-autorizada, .parada-en-zona-no-autorizada{
      --event-main-color: #00A3E4;
    }

    .mantenimiento-correctivo{
      --event-main-color: #7C7BBB;
    }

    .mantenimiento-preventivo{
      --event-main-color: #264E86;
    }

    .infraccion{
      --event-main-color: #373435;
    }

    .sos-event, .sos{
      --event-main-color: #A9BF45;
    }

    .exceso-velocidad{
      --event-main-color: #EE3142;
    }

    .tiempo-estadia-zona, .tiempo-de-estadia-en-zona{
      --event-main-color: #72BF88;
    }

    .default-event{
      --event-main-color: #bdbdbd;
    }

  }

  :host ::ng-deep {

    .leaflet-top.leaflet-left .leaflet-control-zoom.leaflet-bar.leaflet-control {
      display: none;
    }
  
    @media (max-width: 740px) {
      .leaflet-top.leaflet-right {
        top: var(--navbar-height);
      }
    }

    /* PROPUESTAS */
    .fatiga,
    .somnolencia,
    .desvio-carril-izq, .desvio-carril-izquierda,
    .desvio-carril-der, .desvio-carril-derecha,
    .bloqueo-vision-mobileye,
    .colision-peatones,
    .colision-delantera,
    .posible-fatiga,
    .fatiga-extrema,
    .frenada-brusca,
    .aceleracion-brusca,
    .vehiculo-sin-programacion,
    .mantenimiento-correctivo-realizado,
    .mantenimiento-preventivo-realizado,
    .bateria-desconectada,
    .motor-encendido,
    .motor-apagado,
    .distraccion,

    /* DEFINIDOS */
    .zona-entrada, .zona-de-entrada,
    .zona-salida, .zona-de-salida,
    .tiempo-estadia-zona, .tiempo-de-estadia-en-zona,
    .parada-zona-no-autorizada, .parada-en-zona-no-autorizada,
    .mantenimiento-correctivo,
    .mantenimiento-preventivo,
    .infraccion,
    .sos-event, .sos,
    .exceso-velocidad,
    .tiempo-estadia-zona,
    
    .default-event{

      .leaflet-popup-content-wrapper,
      a.leaflet-popup-close-button,
      td a{
        color: #fff;
      }

      .leaflet-popup-content-wrapper,
      .leaflet-popup-tip-container > .leaflet-popup-tip{
        background-color: var(--event-main-color);
      }
      
    }

    .default-event{
      .leaflet-popup-content-wrapper,
      a.leaflet-popup-close-button,
      td a{
        color: #000;
      }
    }

    /* Nombres de vehículos */
    .leaflet-tooltip.leaflet-tooltip-right:not(.leaflet-tooltip-own),
    .leaflet-tooltip.leaflet-tooltip-left:not(.leaflet-tooltip-own){
      border: none;
      color: #fff;
      /* border: 2px solid #000; */
      border-radius: 8px;
      background-color: var(--gl-light-blue);;
      /* background-color: rgba(255,255,255,0.625); */
      font-weight: bold;
      /* -webkit-text-stroke: 0.75px black; */
    }

    .leaflet-tooltip-right:before {
      /* border-right-color: #000; */
      border-right-color: var(--gl-light-blue);
      left: 1px;
    }
    .leaflet-tooltip-left:before {
      border-left-color: var(--gl-light-blue);
      right: 1px;
    }

    /* Nombres de geocercas */
    /* Nombres de geopuntos */
    .leaflet-tooltip.leaflet-tooltip-own.leaflet-zoom-animated.leaflet-tooltip-center {
      background: none;
      border: none;
      box-shadow: none;
      > b {
        padding: 0.2rem 0.4rem; 
        border-radius: 1rem; 
      }
    }

  }
