
<div class="h-100" *ngIf="(geofencesService.nombreComponente == 'LISTAR')">
  <app-geofence-table></app-geofence-table>
</div>

<div class="h-100" *ngIf="(geofencesService.nombreComponente == 'AGREGAR')">
  <app-geocerca-add></app-geocerca-add>
</div>
<!-- <div class="h-100" *ngIf="(circularGeofencesService.nombreComponente == 'LISTAR')">
    <app-geocerca-circular-lists></app-geocerca-circular-lists>
  </div>
  
  <div class="h-100" *ngIf="(nombreComponente == 'AGREGAR')">
    <app-geocerca-circular-add></app-geocerca-circular-add>
  </div>

  <div class="h-100" *ngIf="(nombreComponente == 'LISTAR')">
    <app-geocerca-polyline-lists></app-geocerca-polyline-lists>
  </div>
  
  <div class="h-100" *ngIf="(nombreComponente == 'AGREGAR')">
    <app-geocerca-polyline-add></app-geocerca-polyline-add>
  </div> --> 