*:not(i){
    font-family: Titillium-Regular, Verdana, sans-serif;
}

.navbar-app {
    height: var(--navbar-height); 
    background-color: var(--gl-blue-dark);
    width: 100%;
}

.map-area-app {
    height: calc(100% - var(--navbar-height)); 
    /* background-color: red; */
}

@media (max-width: 740px) {
    .navbar-app {
        position: absolute;
        z-index: 2;
        height: var(--navbar-height); 
        background-color: rgba(#000000, 0);
        pointer-events: none;
    }
    
    .map-area-app {
        height: 100% 
        /* background-color: red; */
    }
}

:host ::ng-deep {

    .marker-cluster-small {
        position: absolute;
        background-color: transparent;
        box-shadow: inset 0 0 0 2px rgba(110, 204, 57, 0.8);
        &::after{
            content: "";
            position: absolute;
            width: 48px;
            height: 48px;
            top: -4px;
            left: -4px;
            display: flex;
            background-color: none;
            box-shadow: inset 0 0 0 2px rgba(110, 204, 57, 0.8);
            border-radius: 50%;
        }
    }

    .marker-cluster-small div {
	    background-color: rgba(110, 204, 57, 0.8);
	}
    
    .marker-cluster-medium {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px rgba(240, 194, 12, 0.8);
        &::after{
            content: "";
            position: absolute;
            width: 48px;
            height: 48px;
            top: -4px;
            left: -4px;
            display: flex;
            background-color: none;
            box-shadow: inset 0 0 0 2px rgba(240, 194, 12, 0.8);
            border-radius: 50%;
        }
    }
    .marker-cluster-medium div {
        background-color: rgba(240, 194, 12, 0.8);
    }
    
    .marker-cluster-large {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px rgba(241, 128, 23, 0.8);
        &::after{
            content: "";
            position: absolute;
            width: 48px;
            height: 48px;
            top: -4px;
            left: -4px;
            display: flex;
            background-color: none;
            box-shadow: inset 0 0 0 2px rgba(241, 128, 23, 0.8);
            border-radius: 50%;
        }
    }
    .marker-cluster-large div {
        background-color: rgba(241, 128, 23, 0.8);
    }

    .marker-cluster div {
        width: 31px;
        height: 31px;
        margin-left: 4.5px;
        margin-top: 4.5px;
    }

    .marker-cluster span {
        font-weight: bold;
    }
    
        /* IE 6-8 fallback colors */
    /* .leaflet-oldie .marker-cluster-small {
        background-color: rgb(181, 226, 140);
    }
    .leaflet-oldie .marker-cluster-small div {
        background-color: rgb(110, 204, 57);
    }
    
    .leaflet-oldie .marker-cluster-medium {
        background-color: rgb(241, 211, 87);
    }
    .leaflet-oldie .marker-cluster-medium div {
        background-color: rgb(240, 194, 12);
    }
    
    .leaflet-oldie .marker-cluster-large {
        background-color: rgb(253, 156, 115);
    }
    .leaflet-oldie .marker-cluster-large div {
        background-color: rgb(241, 128, 23);
    } */

}
