<div class="table-content-component-panel-monitoreo" style="position: relative;">

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" name="loadingPlatformAlertsSpinner" size = "medium" color = "#fff" type = "ball-pulse" [fullScreen] = "false"><p style="color: white" > Cargando Alertas Plataforma... </p></ngx-spinner>

  <div class="card-body p-fluid bg-gl-blue-dark" id="rowBusqueda">
    <div class="d-flex">
      <div class="d-flex flex-grow-1">
        <span class="p-input-icon-right flex-grow-1 me-2">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input type="text" (keyup)="onBusqueda($event)" [(ngModel)]="NomBusqueda"  class="form-control" placeholder="Buscar por nombre"/>
        </span>
      </div>

      <button type="button" class="btn-gl-blue btn-dark-hover btn-circle flex-none" (click)="clickAgregarGeocerca()" title="Crear geocerca">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <div class="panel-izq-table-container">
    <table id="tbl_geos">
      <colgroup>
        <col width="7%" />
        <col width="7%" />
        <col width="56%" />
        <col width="15%" />
        <col width="10%" />
        <col width="5%" />
  
      </colgroup>
      <thead class="visible-on-scroll">
          <tr>
              <td><span class="fa fa-eye fa-lg"></span></td>
              <!-- <td></td> -->
              <td colspan="2">Geocerca</td>
              <td><span class="fa fa-id-card fa-lg"></span></td>
              <td><span class="fa fa-car fa-lg"></span></td>
              <td><span class="fa fa-wrench fa-lg"></span></td>
  
          </tr>
      </thead>
      <tbody style="border-top: inherit;">
  
          <tr *ngFor="let geo of tblDataGeo;let indice=index" >
  
              <!-- <td>{{geo.trama.zone_visible}}</td> -->
              <td width="7%">
                <button class="btn btn-xs btn-link p-n" (click)="clickShow(geo.trama.id)">
                  <i class="fa fa-lg" [ngClass]="{'far fa-eye': geo.trama.zone_visible === 'true', 'far fa-eye-slash' : geo.trama.zone_visible === 'false'}" style="font-size: 14px;" ></i>
                </button>
              </td>
  
              <!-- <td>{{geo.trama.zone_color}}</td> -->
              <td class="text-center" width="7%">
                <button class="btn btn-xs btn-link p-n" (click)="clickLocate(geo.trama.id)" >
                  <div [ngStyle]="{'background-color': geo.trama.zone_color}" class="geofence-color" ></div>
                </button>
              </td>
  
              <td><span class="d-flex text-start">{{geo.trama.zone_name}}</span></td>
  
              <!-- <td>{{geo.trama.zone_name_visible}}</td> -->
  
              <td>
  
                <input class="" type="checkbox"  (click)="clickShowNameGeocerca(geo.trama.id)"  [(ngModel)]="geo.trama.zone_name_visible_bol">
              </td>
  
              <td>{{ geo.trama.vel_max>0? geo.trama.vel_max: '&mdash;'}}</td>
  
  
              <td width="5%" >
                <div ngbDropdown container="body" class="d-inline-block" [autoClose]="true" placement="right-top right-bottom left-top left-bottom">
                  <button class="btn btn-xs btn-link" ngbDropdownToggle>
                    <i class="fa fa-wrench fa-lg" style="font-size: 14px;"></i>
                  </button>
                  <div ngbDropdownMenu class="gl-custom-dropdown geofences-table-dropdown">
                    <div ngbDropdownItem (click)="clickConfigurarGeocerca(geo.trama.id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Configurar</div>
                    <div ngbDropdownItem (click)="clickEliminarGeocerca($event, geo.trama.id)"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</div>
                  </div>
                </div>
              </td>
  
  
          </tr>
      </tbody>
    </table>
  </div>
</div>
