#tbl_geos {
  text-align: center;
  thead th{
    height: 2.5rem;
    svg{
      fill: var(--gl-dark-gray-blue);
    }
    i:not(.fa-pencil, .mini-eye){
      font-size: 1.25rem;
    }
    svg{
      position: relative;
      top: 0.125rem;
    }
  } 
  
  tbody td { 
    .geofence-color{
      width: 1.5rem;
      height: 1.5rem;
    }
    &:nth-child(2){
      padding-right: 0;
    }
    &:nth-child(3){
      padding-left: 0;
    }
  }

  .eye-column i,
  .edit-column i{
    font-size: 1rem;
  }

}