<p-dialog [(visible)]="subcuentasService.modalActive" >

  <ng-template class="p-dialog-title" pTemplate="header">
    <div>
      <i class="fa fa-user me-2" aria-hidden="true"></i>
      <strong [innerHTML]="this.subcuentasService.action == 'edit' ? 'Configurar Subcuenta' : 'Crear nueva Subcuenta' " ></strong>
    </div>
  </ng-template>


  <!-- 5. REPORTE GENERAL-->
  <!-- <div class="container grand-container"> -->
  <!-- </div> -->

  <form [formGroup]="subcuentasForm" (submit)="onSubmit()" (keydown.enter)="$event.preventDefault()">

    <div class="dialog-body-container">

      <div class="p-fluid p-formgrid p-grid" style="font-size: 12px;">
        <!-- <div class="" *ngIf="true">
          <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
        </div> -->

        <div class="dialog-form-container" >

          <div class="row">

            <div class="col p-field">
              <label class="row d-flex justify-content-center mt-3">
                <div class="col-5 d-flex align-items-center justify-content-start text-start fw-bold">
                  <label for="tipo-unidad">Cuenta activada</label>
                </div>
                <div class="col-7">
                  <p-checkbox [binary]="true" formControlName="chkSubUserActivado" ></p-checkbox>
                </div>
              </label>
            </div>

          </div>
        </div>
        <br>
        <br>
        <div class="dialog-form-container gl-middleline" >

          <div class="row">
            <div class="col p-field">
              <label class="row gl-row-underline">
                <div class="col-5 d-flex align-items-center justify-content-start text-start fw-bold">
                  <label >Nombre</label>
                </div>
                <div class="col-7">
                  <input type="text" pInputText class="p-inputtext-sm" placeholder="nombre" formControlName="nombre">
                </div>
              </label>
            </div>
            <div class="col p-field">
              <div class="row gl-row-underline">
                <div class="col-5 d-flex align-items-center justify-content-start text-start fw-bold">
                  <label for="contrasena">Contraseña</label>
                </div>
                <div class="col-7">
                  <input id="contrasena" type="text" pInputText class="p-inputtext-sm" placeholder="contraseña" formControlName="contrasena">
                </div>
              </div>
            </div>
          </div>

        </div>
        <br>
        <br>
        <div class="dialog-form-container" >


          <div class="row">
            <div class="col p-field">
              <label class="row gl-row-underline">
                <div class="col-5 d-flex align-items-center justify-content-start text-start fw-bold">
                  <label for="tipo-unidad">Vehículos :</label>
                </div>
                <div class="col-7">

                  <div class="p-field">
                    <p-multiSelect
                    [options]="vehiculos"
                    optionLabel="label"
                    optionValue="value"
                    formControlName="vehiculos"
                    defaultLabel="0 vehiculos seleccionados"
                    [appendTo]="'body'"
                    [maxSelectedLabels]="3"
                    [selectedItemsLabel]="'{0} vehiculos seleccionados'"
                    ></p-multiSelect>
                  </div>

                </div>
              </label>
            </div>
          </div>

          <br>

          <div class="row">

            <div class="col p-field">
              <label class="row gl-row-underline">
                <div class="col-5 d-flex align-items-center justify-content-start text-start fw-bold">
                  <label for="tipo-unidad">Geocercas :</label>
                </div>
                <div class="col-7">

                  <div class="p-field">
                    <p-multiSelect
                    [options]="geocercas"
                    optionLabel="label"
                    optionValue="value"
                    formControlName="geocercas"
                    defaultLabel="0 geocercas seleccionados"
                    [appendTo]="'body'"
                    [maxSelectedLabels]="3"
                    [selectedItemsLabel]="'{0} geocercas seleccionados'"
                    ></p-multiSelect>
                  </div>

                </div>
              </label>
            </div>

          </div>

          <br>

          <div class="row">

            <div class="col p-field">
              <label class="row gl-row-underline">
                <div class="col-5 d-flex align-items-center justify-content-start text-start fw-bold">
                  <label for="tipo-unidad">Geopuntos :</label>
                </div>
                <div class="col-7">

                  <div class="p-field">
                    <p-multiSelect
                    [options]="geopuntos"
                    optionLabel="label"
                    optionValue="value"
                    formControlName="geopuntos"
                    defaultLabel="0 geopuntos seleccionados"
                    [appendTo]="'body'"
                    [maxSelectedLabels]="3"
                    [selectedItemsLabel]="'{0} geopuntos seleccionados'"
                    ></p-multiSelect>
                  </div>

                </div>
              </label>
            </div>

          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- <ng-template pTemplate="footer" style="width: 60vw;"> -->
        <div class="row justify-content-center mt-4 panel-izq-container-footer">
          <div class="col-6">
              <button type="button" class="btn-gl-cancel btn-dark-hover w-100" (click)="subcuentasService.modalActive=false">Cancelar</button>
          </div>
          <div class="col-6">
              <button type="submit" class="btn-gl-save btn-dark-hover w-100" >Guardar</button>
          </div>
        </div>
    <!-- </ng-template> -->


  </form>

  <ng-template pTemplate="footer" style="width: 60vw;">
  </ng-template>


</p-dialog>
