<div class="">
  <span *ngIf="sortStatus==1" (click)="onVehicleSort(-1)" class="btn-label" ngbPopover="Popover content" title="Ordenar" data-bs-toggle="tooltip" data-bs-placement="top" style="padding: 5px;">
    <i  class="fas fa-sort-alpha-down" style="color:#444444"></i>
  </span>
  <span *ngIf="sortStatus==-1" (click)="onVehicleSort(1)" class="btn-label" ngbPopover="Popover content" title="Ordenar" data-bs-toggle="tooltip" data-bs-placement="top" style="padding: 5px;">
    <i  class="fas fa-sort-alpha-up" style="color:#444444"></i>
  </span>
  <span (click)="onGroup()" #spanGroup class="btn-label" title="Mostrar por grupos" data-bs-toggle="tooltip" data-bs-placement="top" style="padding: 5px;">
    <i  class="fas fa-sitemap" style="color:#444444"></i>
  </span>
  <span #spanGeneral (click)="onGeneral()" class="btn-label" title="Mostrar vista general" data-bs-toggle="tooltip" data-bs-placement="top" style="padding: 5px;">
    <i class="fas fa-list" style="color:#444444"></i>
  </span>
</div>
<div class="">
</div>

<!-- <p>vehicle-header works!</p> -->
<!-- fas fa-sort-alpha-down -->
	<!-- fas fa-sort-alpha-down-alt -->
  <!-- fas fa-list -->
