<div class="carousel-container d-flex justify-content-between  align-items-center " [class]="!display?'invisible':''">
  <button (click)="scrollCarousel(-248)" pButton pRipple type="button" icon="pi pi-chevron-left" class="p-button-rounded p-button-secondary p-button-text button-left " id="button-left"></button>
  <div class="scroll-section" #carouselSection id="scroll-section" (scroll)="onScroll()">
    <div class="carousel-wrapper" #carouselWrapper>
      <ng-content>
      </ng-content>
    </div>
  </div>
  <button (click)="scrollCarousel(248)" pButton pRipple type="button" icon="pi pi-chevron-right" class="p-button-rounded p-button-secondary p-button-text button-right " id="button-right"></button>
</div>