.carousel-container {
    position: fixed;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;
    max-width: calc(100% - calc(425px + var(--gl-panel-padding-left)) - 4rem);
    margin-bottom: calc(0.5rem +  var(--footbar-height));
    margin-right: 1rem;
    overflow: hidden;
    background-color: transparent;
}

.scroll-section {
    width: 2rem; 
    max-width: calc(100% - 4rem);
    overflow: auto;
    height: 190px;
}
.carousel-wrapper {
    display: flex;
    width: auto;
    height: 100%;
    justify-content: start;
    gap: 0.5rem;
    transition: transform 0.5s ease;
}

.p-scrollpanel {
    &.custombar {
        .p-scrollpanel-bar {
            background-color: transparent;
            opacity: 1;
            transition: background-color .2s;

            &:hover {
                background-color: transparent;
            }
        }
    }
}