/* #tbl_geos tr:nth-child(odd) {
  background-color: #ffffff;
}
#tbl_geos tr:nth-child(even) {
background-color: #ffffff !important;
}
#tbl_geos thead th {
  background-color: #EFF0F4;
  color: #1f1d1d;
} */
#tbl_geos tbody td { /* 4 tables */
  padding: 3px;
}
