#tbl_geos{
  text-align: center;
  thead th{
    height: 2.5rem;
    svg{
      fill: var(--gl-dark-gray-blue);
    }
    i{
      font-size: 1.25rem;
      &.fa-pencil{
        font-size: 1.125rem;
      }
    }
  } 

  tbody td { 
    padding: 3px;
    .geopoint-marker{
      font-size: 1.625rem;
      cursor: pointer;
    }
  }
}

.eye-column i,
.edit-column i{
  font-size: 1rem;
}


.resumen-tabla-geo{
  font-size: 0.875rem;
  padding: 0.375rem 0px;
  > div{
    gap: 0.375rem;
  }
  .geo-counter{
    font-size: 1rem;
    line-height: 1.125rem;
    min-width: 1.5rem;
    color: white;
    text-align: center;
    border-radius: 0.25rem;
    &.counter-visible{
      background-color: var(--gl-blue);
    }
    &.counter-hidden{
      background-color: var(--gl-danger-red);
    }
  }
}