<div class="slider-content">
    <p-progressBar *ngIf="onDemandLoader" mode="indeterminate"></p-progressBar>
    <div class="slider-header">
        <div class="slider-title">
            <ng-container *ngIf="showTitle">
                <img *ngIf="icons_available.includes(event.tipo); else default" [src]="'./assets/images/events/'+event.tipo+'.png'" class="slider-icon">
                <ng-template #default>
                        <img [src]="'./assets/images/events/default-alert.png'" class="slider-icon">
                </ng-template>
            </ng-container>
            <span *ngIf="showTitle" class="slider-text">
                    {{event.nombre?event.nombre:!event.mensaje_alerta.includes('undefi')?event.mensaje_alerta:event.name | uppercase}}
            </span>
            <button *ngIf="!showTitle" class="control-button pe-auto" (click)="menu.toggle($event)">
                <i class="pi pi-ellipsis-v"></i>
            </button>
            <p-menu #menu [popup]="true" [model]="menuMultimedia" appendTo="body"></p-menu>
        </div>
        <div *ngIf="hasMultimedia && showMultimedias && multimediaService.multimediaCipiaItems[event.parametros.eventId].length" class="multimedia-controls">
            <button *ngIf="multimediaService.multimediaCipiaItems[event.parametros.eventId].length>1" class="control-button pe-auto" (click)="next()">
                <i class="pi pi-chevron-left"></i>
            </button>
            <span class="slider-text">{{activeIndex}}/{{multimediaService.multimediaCipiaItems[event.parametros.eventId].length}}</span>
            <button *ngIf="multimediaService.multimediaCipiaItems[event.parametros.eventId].length>1" class="control-button pe-auto" (click)="prev()">
                <i class="pi pi-chevron-right"></i>
            </button>
            <button class="window-button pe-auto" (click)="toggleMaximize()">
                <i *ngIf="!isMaximized" class="pi pi-window-maximize"></i>
                <i *ngIf="isMaximized" class="pi pi-window-minimize"></i>
            </button>
        </div>
    </div>
    <div *ngIf="showMultimedias" class="multimedia-body">
        <div class="multimedia-wrapper" #multimedia_wrapper>
            <ng-container *ngFor="let item of multimediaService.multimediaCipiaItems[event.parametros.eventId]; let i = index" >
                <div class="multimedia-item" *ngIf="i==activeIndex-1">
                    <img *ngIf="!error && !loading && item.type=='image'" [src]="item.url" style="height: 100%;" alt="cargando..."/>
                    <div *ngIf="error" (click)="loadMedia(item)" class="error-multimedia d-flex flex-column align-items-center justify-content-center">
                        <i class="pi pi-refresh fs-2 cursor-pointer text-white"></i>
                        <span class="text-white fs-6  cursor-pointer">Reintentar</span>
                    </div>
                    <video width="100%" height="100%" controls type="video/mp4" *ngIf="!error && !loading && item.type=='video'" [src]="item.url"></video>
                    <p-progressSpinner *ngIf="!error && loading" [style]="{width: '40px', height: '40px'}" styleClass="custom-spinner" strokeWidth="5" fill="#000000" animationDuration="1s"></p-progressSpinner>
                </div>
            </ng-container>
        </div>
    </div>
    <ng-content></ng-content>
    <div *ngIf="showFooter" class="slider-footer">
        <div class="slider-title">
            <img src="./assets/images/events/conductor.png" class="slider-icon">
            <span class="slider-text">{{driver? driver : 'Conductor no identificado'}}</span>
        </div>
    </div>
    <div *ngIf="!showFooter" class="slider-footer">
        <div class="slider-title">
            <span class="slider-text">{{multimediaService.multimediaCipiaItems[event.parametros.eventId][activeIndex-1].description}}</span>
        </div>
    </div>
</div>