<div class="slider-content">
    <p-progressBar *ngIf="multimediaService.onDemandLoader" mode="indeterminate"></p-progressBar>
    <div class="slider-header">
        <div class="slider-title">
            <ng-container *ngIf="showTitle">
                <img *ngIf="icons_available.includes(event.tipo); else default" [src]="'./assets/images/events/'+event.tipo+'.png'" class="slider-icon">
                <ng-template #default>
                        <img [src]="'./assets/images/events/default-alert.png'" class="slider-icon">
                </ng-template>
            </ng-container>
            <span *ngIf="showTitle" class="slider-text">
                    {{event.nombre?event.nombre:!event.mensaje_alerta.includes('undefi')?event.mensaje_alerta:event.name | uppercase}}
            </span>
            <button *ngIf="!showTitle" class="control-button pe-auto" [disabled]="loading" (click)="menu.toggle($event)">
                <i class="pi pi-ellipsis-v"></i>
            </button>
            <p-menu #menu [popup]="true" [model]="menuMultimedia" appendTo="body"></p-menu>
        </div>
        <div *ngIf="hasMultimedia && showMultimedias && multimediaService.multimediaCipiaItems[event.parametros.eventId].length" class="multimedia-controls">
            <button *ngIf="multimediaService.multimediaCipiaItems[event.parametros.eventId].length>1" class="control-button pe-auto" (click)="next()">
                <i class="pi pi-chevron-left"></i>
            </button>
            <span class="slider-text">{{activeIndex}}/{{multimediaService.multimediaCipiaItems[event.parametros.eventId].length}}</span>
            <button *ngIf="multimediaService.multimediaCipiaItems[event.parametros.eventId].length>1" class="control-button pe-auto" (click)="prev()">
                <i class="pi pi-chevron-right"></i>
            </button>
            <button class="window-button pe-auto" (click)="toggleMaximize()">
                <i *ngIf="!isMaximized" class="pi pi-window-maximize"></i>
                <i *ngIf="isMaximized" class="pi pi-window-minimize"></i>
            </button>
        </div>
    </div>
    <div *ngIf="showMultimedias" class="multimedia-body">
        <div class="multimedia-wrapper" #multimedia_wrapper>
            <ng-container *ngFor="let item of multimediaService.multimediaCipiaItems[event.parametros.eventId]; let i = index" >
                <div class="multimedia-item" *ngIf="i==activeIndex-1" class="overflow-hidden">
                    <img *ngIf="!error && !loading && item.type=='image'" [src]="item.url" style="height: 100%;" alt="cargando..."/>
                    <div *ngIf="error" (click)="loadMedia(item)" class="error-multimedia d-flex flex-column align-items-center justify-content-center">
                        <i class="pi pi-refresh fs-2 cursor-pointer text-white"></i>
                        <span class="text-white fs-6  cursor-pointer">Reintentar</span>
                    </div>
                    <video width="100%" height="100%" controls type="video/mp4" *ngIf="!error && !loading && item.type=='video'" [src]="item.url"></video>
                    <p-progressSpinner *ngIf="!error && loading" [style]="{width: '40px', height: '40px'}" styleClass="custom-spinner" strokeWidth="5" fill="#000000" animationDuration="1s"></p-progressSpinner>
                </div>
            </ng-container>
        </div>
    </div>
    <ng-content></ng-content>
    <div *ngIf="showFooter" class="slider-footer">
        <div class="slider-title">
            <img src="./assets/images/events/conductor.png" class="slider-icon">
            <span class="slider-text">{{driver? driver : 'Conductor no identificado'}}</span>
        </div>
    </div>
    <div *ngIf="!showFooter" class="slider-footer">
        <div class="slider-title">
            <span class="slider-text">{{multimediaService.multimediaCipiaItems[event.parametros.eventId][activeIndex-1].description}}</span>
        </div>
    </div>
</div>
<p-dialog header="Obtener video" [(visible)]="showGetVideoDialog" (onHide)="showGetVideoDialog=false" (onShow)="updateSliderBackground()" [breakpoints]="{'960px': '50vw', '640px': '75vw'}" appendTo="body" id="getVideo">
    <div class="dialog-body-container">
        <div class="p-fluid p-formgrid p-grid">
          <div class="dialog-form-container">
            <div class="d-flex flex-column mt-2 gap-1 justify-content-center" style="min-width: 25rem;">
                <div class="d-flex justify-content-between">
                    <h6 class="my-2">Rango: {{ rangeValues[0]| unixTimeToDate }} - {{ rangeValues[1] | unixTimeToDate }}</h6>
                    <h6 class="my-2">Duración: {{(rangeValues[1]-rangeValues[0])/1000}}&nbsp;seg.</h6>
                </div>
                <div class="d-flex justify-content-between gap-1 align-content-center ">
                    <button pButton pRipple [pTooltip]="'- 1 minuto'" (click)="addMinMaxTime(-60)" type="button" icon="pi pi-step-backward" class="p-button-rounded p-button-text"></button>
                    <p-slider *ngIf="showGetVideoDialog"
                        [(ngModel)]="rangeValues" 
                        [range]="true" 
                        [min]="min_range" 
                        [max]="max_range"
                        [step]="1000"
                        class="w-100 m-auto"
                        [style]="{background:gradientColor, margin: 'auto'}"      
                        #_slider                  
                    >
                    </p-slider>
                    <button pButton pRipple [pTooltip]="'+ 1 minuto'" (click)="addMinMaxTime(+60)" type="button" icon="pi pi-step-forward" class="p-button-rounded p-button-text"></button>
                </div>
                <div class="d-flex justify-content-between">
                    <span>{{min_range | unixTimeToDate}}</span>
                    <span>{{max_range | unixTimeToDate}}</span>
                </div>
                <button 
                    (click)="getMultimediaByRange(rangeValues)" 
                    type="button"
                    class="btn-gl-save btn-dark-hover btn-sm w-50 my-4 mx-auto" 
                    [disabled]="loading"
                >
                    Obtener
                </button>
            </div>
          </div>
        </div>
      </div>
</p-dialog>
<p-dialog header="Grabar video" [(visible)]="showRecordVideoDialog" (onHide)="showRecordVideoDialog=false" [breakpoints]="{'960px': '50vw', '640px': '75vw'}" appendTo="body" id="recordVideo">
    <div class="dialog-body-container">
        <div class="p-fluid p-formgrid p-grid">
          <div class="dialog-form-container">
            <div class="d-flex flex-column mt-2 gap-1 justify-content-center" style="min-width: 25rem;">
                <div class="d-flex justify-content-between">
                    <h6 class="my-2">Duración: {{recordTime}}&nbsp;seg.</h6>
                </div>
                <div class="d-flex justify-content-between gap-1 align-content-center ">
                    <p-slider *ngIf="showRecordVideoDialog"
                        [(ngModel)]="recordTime" 
                        [min]="10" 
                        [max]="60"
                        [step]="1"
                        class="w-100 m-auto"
                    >
                    </p-slider>
                </div>
                <button 
                    (click)="getMultimediaRecording(recordTime)" 
                    type="button"
                    class="btn-gl-save btn-dark-hover btn-sm w-50 my-4 mx-auto" 
                    [disabled]="loading"
                >
                    Grabar
                </button>
            </div>
          </div>
        </div>
      </div>
</p-dialog>
