<div style="height: 100%; overflow: auto;">
  <div class="card-body p-fluid" id="rowBusqueda" style="font-size: 1rem;" [innerHTML]="this.geofencesService.action == 'edit' ? 'Configurar Geocerca Poligonal' : 'Nueva Geocerca Poligonal' "></div>

  <div style="background-color: var(--gl-gray); height: 0.125rem; width: 96%; margin-left: 2%; padding: 0;"></div>

  <div class="modal-body panel-izq-container p-fluid" style="height: calc(100vh - 9.125rem); max-height: calc(100vh - 9.125rem);">
    <div class="panel-izq-form">
      <label class="row">
        <span class="col-4">Nombre:</span>
        <div class="col-8">
          <input type="text" class="form-control claseinputs" id="geofence-name" name="nombre" [(ngModel)]="form.nombre" required>
        </div>
      </label>

      <div class="row"></div>

      <label class="row">
        <span class="col-12">Descripción:</span>
        <div class="col-12">
          <textarea id="geocerca-descripcion" class="form-control" rows="3" name="descripcion" [(ngModel)]="form.descripcion"></textarea>
        </div>
      </label>

      <div class="row"></div>

      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-6 d-flex flex-column justify-content-center text-start">
              Perímetro
            </div>
            <div class="col-6 d-flex flex-column justify-content-center text-start">
              Área
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-6 d-flex flex-column justify-content-center text-start">
              <div class="input-group">
                <input type="text" class="form-control text-end" [(ngModel)]="form.perimetro" readonly>
                <span class="input-group-text">km</span>
              </div>
            </div>
            <div class="col-6 d-flex flex-column justify-content-center text-start">
              <div class="input-group">
                <input type="text" class="form-control text-end" [(ngModel)]="form.area"  readonly>
                <span class="input-group-text">km<sup>2</sup></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row"></div>

      <div class="row d-flex justify-content-center">
        <div class="col-5 d-flex flex-column justify-content-center">
          <label class="row">
            <span class="col-9 form-check-label align-middle">Mostrar geocerca</span>
            <div class="col-2 d-flex flex-column justify-content-center">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="" icheck [(ngModel)]="form.checkZoneVisible">
              </div>
            </div>
          </label>
        </div>
        <div class="col-5 d-flex flex-column justify-content-center">
          <label class="row">
            <span class="col-9 form-check-label align-middle">Mostrar nombre</span>
            <div class="col-2 d-flex flex-column justify-content-center">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="" icheck [(ngModel)]="form.checkNameVisible">
              </div>
            </div>
          </label>
        </div>
      </div>

      <div class="row"></div>

      <div class="row">
        <span class="col-4">Color:</span>
        <div class="col-8">
          <input type="color" class="form-control form-control-color form-control-color-gl" id="geoColor" (change)="changeGeoColor(form.id)" [(ngModel)]="form.color"  title="Elige un color">
        </div>
      </div>

      <div class="row"></div>

      <label class="row">
        <div class="col-4">Categoría:</div>
        <div class="col-8">
          <select class="form-control" id="opcionGraficoConsola" [(ngModel)]="form.categoria" title="Tipo de Gráfico" data-bs-toggle="tooltip" data-bs-placement="top">
            <option [value]="item.id" *ngFor="let item of availableOptionsCategoria">{{item.name}}</option>
          </select>
        </div>
      </label>

      <div class="row"></div>

      <div class="row d-flex justify-content-center">
        <div class="col-5 d-flex flex-column justify-content-center">
          <label class="row">
            <span class="col-9 form-check-label align-middle">Velocidad</span>
            <div class="col-2 d-flex flex-column justify-content-center">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="chckActivarVelocidad" [(ngModel)]="form.checkVelocidad">
              </div>
            </div>
          </label>
        </div>
        <div class="col-5"></div>
      </div>

      <div class="row"></div>

      <div class="row">
        <span class="col-4 text-end">Límite de Velocidad:</span>
        <div class="col-8">
          <div class="input-group">
            <input min="10" type="number" class="form-control claseinputs text-center" [(ngModel)]="form.limite_velocidad" [disabled]="!form.checkVelocidad">
            <span class="input-group-text claseinputs">km/h</span>
          </div>
        </div>
      </div>
      <div class="row">
        <span class="col-4 text-end">Tolerable:</span>
        <div class="col-8">
          <div class="input-group">
            <input type="number" [min]="form.limite_velocidad + 1" class="form-control claseinputs text-center" [(ngModel)]="form.limite_tolerable" [disabled]="!form.checkVelocidad">
            <span class="input-group-text claseinputs">km/h</span>
          </div>
        </div>
      </div>
      <div class="row">
        <span class="col-4 text-end">Grave:</span>
        <div class="col-8">
          <div class="input-group">
            <input type="number" [min]="form.limite_tolerable + 1" class="form-control claseinputs text-center" [(ngModel)]="form.limite_grave" [disabled]="!form.checkVelocidad">
            <span class="input-group-text claseinputs">km/h</span>
          </div>
        </div>
      </div>
      <div class="row">
        <span class="col-4 text-end">Muy Grave:</span>
        <div class="col-8">
          <div class="input-group">
            <input type="number" [min]="form.limite_grave + 1" class="form-control  claseinputs text-center" [(ngModel)]="form.limite_muy_grave" [disabled]="!form.checkVelocidad">
            <span class="input-group-text claseinputs">km/h</span>
          </div>
        </div>
      </div>

      <div class="row"></div>
      <div class="row"></div>
    </div>

    <div class="modal-footer">
      <div class="row w-100 justify-content-around">
        <div class="col-5">
          <button type="button" (click)="clickCancelar(form.id)" class="btn btn-success w-100" >Cancelar</button>
        </div>
        <div class="col-5">
          <button type="submit" (click)="clickGuardar(form.id)" class="btn btn-success w-100" >Guardar</button>
        </div>
      </div>
    </div>

  </div>
</div>

