<div class="d-flex flex-column" style="height: 100%;">
  <div *ngIf="geoOptions=='poligon'|| geoOptions=='line'" class="card-body p-fluid bg-gl-blue-dark" id="rowBusqueda" [innerHTML]="this.geofencesService.action == 'edit' ? 'Configurar Geocerca Poligonal' : 'Nueva Geocerca' "></div>
  <div *ngIf="geoOptions=='circ'" class="card-body p-fluid bg-gl-blue-dark" id="rowBusqueda" [innerHTML]="this.circularGeofencesService.action == 'edit' ? 'Configurar Geocerca Circular' : 'Nueva Geocerca Circular' "></div>
  <div class="modal-body panel-izq-container p-fluid overflow-auto" style="position: relative;">
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" name="spinnerLoading" size = "medium" color = "#fff" type = "ball-pulse" [fullScreen] = "false"><p style="color: white" class="text-center"> Guardando cambios... </p></ngx-spinner>
    <div class="panel-izq-form">
      <div class="gl-row-underline">
        <div class="flex container" >
          <div class="border btnBorder center-icon btn-gl-save btn-dark-hover w-100" [class.selected]="btnSelected === 1" (click)="selectBtn(1); clickFormGeoPol()">
            <button type="button" *ngIf="geofencesService.showBtnAdd" (click)="clickFormGeoPol()" class="pentagon">

            </button>
            <label>Poligonales</label>
          </div>
          <div class="border btnBorder center-icon btn-gl-save btn-dark-hover w-100" [class.selected]="btnSelected === 2" (click)="selectBtn(2); clickFormGeoCir()">
            <button type="button" *ngIf="circularGeofencesService.showBtnAdd" (click)="clickFormGeoCir()" class="circle">

            </button>
            <span>Circulares</span>
          </div>
          <div class="border btnBorder center-icon btn-gl-save btn-dark-hover w-100" [class.selected]="btnSelected === 3" (click)="selectBtn(3); clickFormGeoLin()">
            <button  type="button" *ngIf="geofencesService.showBtnAdd" (click)="clickFormGeoLin()" class="pentagon">

            </button>
            <span>Lineales</span>
          </div>
        </div>
        <div class="col-12">
          <div>
            <label>NOMBRE:</label>
          </div>
        </div>
        <div class="col-12">
          <input *ngIf="geoOptions=='poligon'|| geoOptions=='line'" type="text" class="form-control" id="geofence-name" name="nombre" [(ngModel)]="form.nombre" required pInputText>
          <input *ngIf="geoOptions=='circ'" type="text" class="form-control" id="circular-geofence-name" name="nombre" [(ngModel)]="form.nombre" required pInputText>
        </div>
      </div>
      <div class="gl-middleline gl-permanent-middleline gl-row-underline">
        <div class="row">
            <div class="col p-field" *ngIf="geoOptions=='poligon' || geoOptions=='line'">
                <div class="col-12">
                    <label>PERÍMETRO:</label>
                </div>
                <div class="row">
                    <div class="col-12">
                      <p-inputNumber [(ngModel)]="form.perimetro" suffix=" km&#178;" [disabled]="true"></p-inputNumber>
                    </div>
                </div>
            </div>
            <div class="col p-field" *ngIf="geoOptions=='circ'">
              <div class="col-12">
                  <label>RADIO:</label>
              </div>
              <div class="row">
                <div class="col-12">
                    <p-inputNumber [ngModel]="form.radio" suffix=" km" [disabled]="true"></p-inputNumber>
                </div>
            </div>
            </div>
              <div class="col p-field">
                <div class="col-12">
                    <label>ÁREA:</label>
                </div>
                <div class="row">
                    <div class="col-12">
                      <p-inputNumber [(ngModel)]="form.area" suffix=" km&#178;" [disabled]="true"></p-inputNumber>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="gl-middleline gl-permanent-middleline gl-row-underline">
        <div class="row">
            <div class="col p-field">
                <div class="col-12">
                    <label>COLOR DE GEOCERCA:</label>
                </div>
                <div class="row">
                    <div class="col-12 d-flex">
                      <input *ngIf="geoOptions=='poligon' || geoOptions=='line'" type="color" class="form-control form-control-color form-control-color-gl flex-grow-1" (change)="changeGeoColor(form.id)" [(ngModel)]="form.color" id="color_picker" title="Elige un color">
                      <input *ngIf="geoOptions=='circ'" type="color" class="form-control form-control-color form-control-color-gl flex-grow-1" (change)="changeGeoColorCir(form.id)" [(ngModel)]="form.color" id="color_picker" title="Elige un color">
                      <label role="button" class="p-dropdown-trigger flex-none d-flex align-items-center custom-chevron" for="color_picker">
                        <span class="p-dropdown-trigger-icon pi pi-chevron-down" style="color: #6c757d;"></span>
                      </label>
                    </div>
                </div>
            </div>
            <div class="col p-field">
                <div class="col-12">
                    <label>VELOCIDAD:</label>
                </div>
                <div class="row">
                    <div class="col-12">
                      <p-dropdown [options]="booleanOptions" [(ngModel)]="form.checkVelocidad" optionLabel="label" optionValue="value" [appendTo]="'body'" [ngModelOptions]="{standalone: true}"></p-dropdown>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="gl-middleline gl-permanent-middleline gl-row-underline">
        <div class="row">
            <div class="col p-field">
                <div class="col-12">
                    <label>COLOR DE TEXTO:</label>
                </div>
                <div class="row">
                    <div class="col-12 d-flex">
                      <input type="color" class="form-control form-control-color form-control-color-gl flex-grow-1" (change)="changeGeoColor(form.id)" [(ngModel)]="form.tag_name_color" id="text_color_picker" title="Elige un color">
                      <label role="button" class="p-dropdown-trigger flex-none d-flex align-items-center custom-chevron" for="text_color_picker">
                        <span class="p-dropdown-trigger-icon pi pi-chevron-down" style="color: #6c757d;"></span>
                      </label>
                    </div>
                </div>
            </div>
            <div class="col p-field">
                <div class="col-12">
                    <label>TAMAÑO DE TEXTO:</label>
                </div>
                <div class="row">
                    <div class="col-12">
                      <p-dropdown [options]="fontSizeOptions" [(ngModel)]="form.tag_name_font_size" optionLabel="label" optionValue="value" [appendTo]="'body'" [ngModelOptions]="{standalone: true}"></p-dropdown>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="gl-row-underline">
        <div class="col-12">
            <label>LÍMITE DE VELOCIDAD:</label>
        </div>
        <div class="col-12 d-flex">
          <p-inputNumber class="flex-grow-1" [(ngModel)]="form.limite_velocidad" suffix=" Km/h" [disabled]="!form.checkVelocidad" [ngModelOptions]="{standalone: true}"></p-inputNumber>
          <span class="flex-none center-icon neutral-icon-color">
            <i class="fa fa-question-circle fa-lg" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title="Establece un límite de velocidad estándar para todas las unidades que transiten dentro de la geocerca."></i>
          </span>
        </div>
      </div>
      <div class="gl-row-underline">
        <div class="col-12">
            <label>TOLERABLE:</label>
        </div>
        <div class="col-12 d-flex">
          <p-inputNumber class="flex-grow-1" [(ngModel)]="form.limite_tolerable" suffix=" Km/h" [disabled]="!form.checkVelocidad" [ngModelOptions]="{standalone: true}"></p-inputNumber>
          <span class="flex-none center-icon neutral-icon-color">
            <i class="fa fa-question-circle fa-lg" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title="Establece un exceso de velocidad tolerable al sobrepasar el límite establecido en el presente campo. Termina hasta llegar al siguiente límite de velocidad."></i>
          </span>
        </div>
      </div>
      <div class="gl-row-underline">
        <div class="col-12">
            <label>GRAVE:</label>
        </div>
        <div class="col-12 d-flex">
          <p-inputNumber class="flex-grow-1" [(ngModel)]="form.limite_grave" suffix=" Km/h" [disabled]="!form.checkVelocidad" [ngModelOptions]="{standalone: true}"></p-inputNumber>
          <span class="flex-none center-icon neutral-icon-color">
            <i class="fa fa-question-circle fa-lg" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title="Establece un exceso de velocidad grave al sobrepasar el límite establecido en el presente campo. Termina hasta llegar al siguiente límite de velocidad."></i>
          </span>
        </div>
      </div>
      <div class="gl-row-underline">
        <div class="col-12">
            <label>MUY GRAVE:</label>
        </div>
        <div class="col-12 d-flex">
          <p-inputNumber class="flex-grow-1" [(ngModel)]="form.limite_muy_grave" suffix=" Km/h" [disabled]="!form.checkVelocidad" [ngModelOptions]="{standalone: true}"></p-inputNumber>
          <span class="flex-none center-icon neutral-icon-color">
            <i class="fa fa-question-circle fa-lg" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title="Establece un exceso de velocidad muy grave al sobrepasar el límite establecido en el presente campo. No posee un siguiente límite de velocidad."></i>
          </span>
        </div>
      </div>
      <div class="gl-middleline gl-permanent-middleline gl-row-underline">
        <div class="row">
          <div class="col-6">
            <div class="p-field">
              <label class="" id="filtrado_label">SELECCIONE:</label>
              <p-dropdown [options]="listOptions" [(ngModel)]="listOptionCheckbox" [showClear]="false" optionLabel="idOption" optionValue="valueOption" (onChange)="onOptionSelected();"></p-dropdown>
            </div>
          </div>
          <div class="col-6" *ngIf="listOptionCheckbox=='operacion'">
            <div class="p-field">
              <label class="" id="operation_label">OPERACIONES:</label>
              <p-dropdown [options]="operations" [(ngModel)]="selectedOperation" [showClear]="true" optionLabel="nameoperation" optionValue="idoperation" (onChange)="onChangeOperation();"  [placeholder]="placeholderOperation"  [disabled]="disabledOperation"></p-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="listOptionCheckbox=='grupo'" class="gl-middleline gl-permanent-middleline gl-row-underline">
        <div>
          <div class="col-6" >
            <div class="p-field">
              <label class="" id="grupo_label">OPERACIONES:</label>
              <p-dropdown [options]="operations" [(ngModel)]="selectedOperation" [showClear]="true" optionLabel="nameoperation" optionValue="idoperation" (onChange)="onChangeOperation();"  [placeholder]="placeholderOperation"  [disabled]="disabledOperation"></p-dropdown>
            </div>
          </div>
          <div class="col-6" >
            <div class="p-field">
              <label class="" id="grupo_label">GRUPOS:</label>
              <p-dropdown [options]="groups" [(ngModel)]="selectedGroup" [showClear]="true" optionLabel="namegrupo" optionValue="idgrupo" [placeholder]="placeholderGroup" [disabled]="disabledGroup"></p-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div *ngIf="geoOptions=='poligon' || geoOptions=='line'" class="row justify-content-center mt-4 panel-izq-container-footer">
          <div class="col-6" >
            <button type="button" class="btn-gl-cancel btn-dark-hover w-100" ui-sref="alertas-accesorios" (click)="clickCancelPol(form.id)">Cancelar</button>
          </div>
          <div class="col-6">
            <button type="submit" class="btn-gl-save btn-dark-hover w-100" (click)="clickSavePol(form.id)">Guardar</button>
          </div>
        </div>
        <div *ngIf="geoOptions=='circ'" class="row justify-content-center mt-4 panel-izq-container-footer">
          <div class="col-6">
            <button type="button" class="btn-gl-cancel btn-dark-hover w-100" ui-sref="alertas-accesorios" (click)="clickCancelCir(form.id)">Cancelarrrr</button>
          </div>
          <div class="col-6">
            <button type="submit" class="btn-gl-save btn-dark-hover w-100" (click)="clickSaveCir(form.id)">Guardarrr</button>
          </div>
        </div>
      </div>
  </div>
</div>

