.container{
    display: flex;
    width: fit-content !important;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: content-box;
    border: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    transform: translate(0,10%);
}

h2{
    margin-bottom: 40px;
}

.btn [disabled] {
    opacity: .65;
}

.btn:focus {
    outline: none !important;
	box-shadow: none;
}

.navbar {
    padding-top: 3px;
    padding-bottom: 3px;
}

.background-prof-conf {
    width: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
    height: 100%; 
    background-color: #000000;
}

.background-prof-conf > img {
	opacity: 0.8;
    display: block;
    width: 100%;
    height: auto;
}

.container-fluid > div:first-child {
    justify-content: flex-start;
    
}
.container-fluid > div:last-child {
    justify-content: flex-end;
}

.container-fluid > div {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.col-7{
    padding: 0;
}
