.content-panel-monitoreo {
  height: 100%;
}



#panelMonitoreo{
  display: none;
  width: 425px;
  position: absolute;
  z-index: 20001;
  top: auto;
  bottom: auto;
  height: 100%;
  &[style*='display: block']{
    display: flex !important;
  }
  .card{
    background-color: #fff;
  }
  .card, .card-header{
    border: none;
    border-radius: 0px;
  }
}

.transition-keep-height-margin {
  transition: height 0.6s 0.6s, margin 0.6s 0.6s;
}

.header-panel-monitoreo {
  padding: 0 1rem;
  margin-bottom: 0px;
  /* background-color: #6D99CB; */
  background-color: var(--gl-blue-dark);
  /* color: #fff; */
  color: #fff;
  text-align: left;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  height: var(--pm-general-header-height);
  /* min-height: var(--panel-monitoreo-header-height); */
}

.header-panel-monitoreo + p-treetable > *{
  font-size: 0.75rem;
}

#dragbar {
  background-color: var(--gl-light-gray);
  height: 100%;
  float: right;
  width: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#dragbar.dragging:not(.trigger-dragging), #dragbar.dragging:not(.trigger-dragging) > div{
  background-color: var(--gl-blue-dark) !important;

  svg{
    fill: #fff;
  }
}

#dragbar > div:hover{
  background-color: var(--gl-light-gray-hover);
}

#dragbar > div { 
  background-color: var(--gl-light-gray);
  box-shadow: 0 0px 10px rgb(0 0 0 / 90%);
  cursor: col-resize;
}

.circled-fa {
  position: relative;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  /* top: -0.25rem; */
  left: -0.25rem;
  display: inline-block;
  cursor: pointer;
/*   &::after{
      content: "";
      position: absolute;
      width: 32px;
      height: 32px;
      top: -8px;
      left: -10px;
      display: flex;
      background-color: none;
      box-shadow: inset 0 0 0 2px rgba(110, 204, 57, 0.8);
      border-radius: 50%;
  } */
  &:hover{
    background-color: var(--gl-blue-dark-hover);
  }

   i {
    /* top: 0.25rem; */
    left: 0.625rem;
    position: relative;
  }
}


:host ::ng-deep {
  *:not(i, .fa){
    font-family: Titillium-Regular, Verdana, sans-serif;
  }

  legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
  }

  .btn-gl-blue{
    background-color: var(--gl-blue);
    border-color: var(--gl-blue);
    color: #fff;
  }

  .btn-gl-gray-blue{
    background-color: var(--gl-gray-blue);
    border-color: var(--gl-gray-blue);
    color: #fff;
  }

  #panelMonitoreo > .card > div:not(:first-child) {
    /* flex-grow: 1; */
    /* height: calc(100% - var(--panel-monitoreo-header-height)); */
  }
  
  #panelMonitoreo.vehiculos > .card > div.component-containers {
    height: calc(100% - var(--pm-vehiculos-header-height));
  }
  #panelMonitoreo.alertas > .card > div.component-containers {
    height: calc(100% - var(--pm-alertas-header-height));
  }
  #panelMonitoreo.geocercas > .card > div.component-containers {
    height: calc(100% - var(--pm-geocercas-header-height));
  }
  #panelMonitoreo.geopuntos > .card > div.component-containers {
    height: calc(100% - var(--pm-geopuntos-header-height));
  }
  #panelMonitoreo.historial > .card > div.component-containers {
    height: calc(100% - var(--pm-historial-header-height));
  }
  #panelMonitoreo.notificaciones > .card > div.component-containers {
    height: calc(100% - var(--pm-notificaciones-header-height));
  }
  #panelMonitoreo.configuracion > .card > div.component-containers {
    height: calc(100% - var(--pm-configuracion-header-height));
  }

  #rowBusqueda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--row-busqueda-height);
    padding: 0 1rem;
    /* padding: 0.625rem 1rem; */
    flex: none;
    background-color: var(--gl-blue-dark);
    color: #fff;

    .btn-circle{
      //37.97px es la altura del input que acompaña a los botones
      /* height: calc(var(--row-busqueda-height) - 2rem);
      width: calc(var(--row-busqueda-height) - 2rem); */
      height: 37.97px;
      width: 37.97px;
    }
  }

  #panelMonitoreo.notificaciones #rowBusqueda{
    height: auto;
    padding: calc(calc(var(--row-busqueda-height) - 38px) / 2) 1rem; //38px es la altura ded los input
  }

  .table-content-component-panel-monitoreo {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .panel-izq-container{
    font-size: 0.9rem;
    overflow: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
    > form, .panel-izq-form {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;

      > .row {
        align-items: center;

        > label:first-child{
          padding-left: 1.5rem;
        }
      }
    }
  }

  /* Estilos de tablas en panel lateral */
  div.panel-izq-table-container{
    overflow: auto !important;
    font-size: 0.75rem;
    /* height: calc(100% - 4.375rem); */
    flex-grow: 1;

    table {
      vertical-align: middle;

      > thead > tr{
        /* background-color: var(--gl-lighter-gray) !important;
        color: var(--gl-dark-gray-blue) !important; */
      }
      > tbody {
        border-top: none;

        > tr {
          border: none !important;
          > td {
            border: none !important;
          }
        }
        > tr:nth-child(even) {
          background: var(--gl-light-gray);
        }
        > tr:hover { /* 4 tables */
          background-color: #EFF0F4 !important;
          > * {
            --bs-table-accent-bg: var(--bs-table-hover-bg);
          }
        }
        > tr.tr-selected {
          background-color: var(--gl-gray) !important;
        }
      } 
    }

  }

  tbody.p-treetable-tbody {
    > tr:hover {
      background-color: var(--gl-light-blue-alpha);
    }
  }

  .modal-footer > div > div:first-child,
  .p-dialog-footer > p-footer > div > div:first-child {
    > button.btn.btn-success:not(.not-cancel) {
      color: #000;
      background-color: #fff;
    }
    > button.btn.btn-success:first-child:hover:not(.not-cancel){
      background-color: #d1e7dd;
    }
  }

  input[disabled]{
    color: #000;
    background-color: var(--gl-gray-subtitle);
  }

  input{
    border: 1px solid var(--gl-gray);
  }
}

@media (max-width: 960px) {
  #dragbar {
    width: 0.5rem;
  }
}

@media (max-width: 740px) {
  #panelMonitoreo {
    margin-top: var(--navbar-height);
    height: calc(100% - var(--navbar-height));
  }
}

@media (max-width: 720px) {
  #dragbar {
    width: 0.75rem;
  }
}

/* @media (max-width: 540px) { */
@media (max-width: 640px) {
  #dragbar {
    /* width: 1rem; */
    display: none;
  }
}

@media (max-width: 490px) {
  #panelMonitoreo {
    width: 100vw !important;
  }
}
