<div class="content-panel-monitoreo" id="panelMonitoreo">

  <div class="card w-100">
    <div class="card-header header-panel-monitoreo">
    <!-- <div class="card-header header-panel-monitoreo" (click)="clickHidePanel()" > -->
      {{panelService.nombreCabecera}}
      <!-- <i class="fa fas fa-caret-left"></i> -->
      <div class="bi" *ngIf="panelService.nombreComponente.includes('ALERTS')" ngbDropdown role="button" container="body" placement="right-top" onclick="this.blur();">
        <svg ngbDropdownToggle xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
        <ul ngbDropdownMenu aria-labelledby="dropdownAlert">
          <li><a ngbDropdownItem (click)="panelService.clickHeaderToggle('ALERTS')">Todas las alertas</a></li>
          <li><a ngbDropdownItem (click)="panelService.clickHeaderToggle('ALERTS-GPS')">Alertas GPS</a></li>
          <li><a ngbDropdownItem (click)="panelService.clickHeaderToggle('ALERTS-PLATFORMS')">Alertas plataformas</a></li>
          <li><a ngbDropdownItem (click)="panelService.clickHeaderToggle('ALERTS-ACCESSORIES')">Alertas accesorios</a></li>
        </ul>
      </div>

    </div>


    <div *ngIf="(panelService.nombreComponente == 'GEOPOINTS')">
      <app-panel-geopoints></app-panel-geopoints>
    </div>

    <div *ngIf="(panelService.nombreComponente == 'HISTORIAL')">
      <app-panel-historial ></app-panel-historial>
    </div>

    <div *ngIf="(panelService.nombreComponente == 'VEHICLES')">
      <app-panel-vehicles></app-panel-vehicles>
    </div>

    <div *ngIf="(panelService.nombreComponente == 'ALERTS')">
      <app-panel-alerts></app-panel-alerts>
    </div>

    <div *ngIf="(panelService.nombreComponente == 'ALERTS-GPS')">
      <app-panel-alerts-gps></app-panel-alerts-gps>
    </div>

    <div *ngIf="(panelService.nombreComponente == 'ALERTS-GPS-CREATE')">
      <app-gps-alerts-create></app-gps-alerts-create>
    </div>

    <div *ngIf="(panelService.nombreComponente == 'ALERTS-GPS-EDIT')">
      <app-alert-gps-edit></app-alert-gps-edit>
    </div>

    <div *ngIf="(panelService.nombreComponente == 'ALERTS-PLATFORMS')">
      <app-panel-alerts-platform></app-panel-alerts-platform>
    </div>

    <div *ngIf="(panelService.nombreComponente == 'ALERTS-PLATFORM-CREATE')">
      <app-platform-alerts-create></app-platform-alerts-create>
    </div>

    <div *ngIf="(panelService.nombreComponente == 'ALERTS-PLATFORM-EDIT')">
      <app-platform-alerts-edit></app-platform-alerts-edit>
    </div>

    <div *ngIf="(panelService.nombreComponente == 'ALERTS-ACCESSORIES')">
      <app-panel-alerts-accessories></app-panel-alerts-accessories>
    </div>

    <div *ngIf="(panelService.nombreComponente == 'ALERTS-ACCESSORIE-CREATE')">
      <app-alert-accessories-create></app-alert-accessories-create>
    </div>

    <div *ngIf="(panelService.nombreComponente == 'ALERTS-ACCESSORIE-EDIT')">
      <app-alert-accessories-edit></app-alert-accessories-edit>
    </div>

    <div *ngIf="(panelService.nombreComponente == 'GEOFENCES')">
      <app-geocerca-main></app-geocerca-main>
    </div>

    <div *ngIf="(panelService.nombreComponente == 'EVENT-USER')">
      <app-event-board></app-event-board>
    </div>



  </div>
</div>
