.content-panel-monitoreo {
  /* border-left: 2px solid #34518D; */
  /* border-right: 2px solid #34518D; */
  display: none;
  background: #fff;
  height: -webkit-fill-available;
  /* width: 100%;
  max-width: 450px; */
  width: 30vw;
  /*
  float: left;
  clear: both; */
  position: absolute;
  /* border: 2px;
  border-style: solid;
  border-color: #34518D; */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  z-index: 20001;
  border-radius: 4px;
  top: auto;
  bottom: auto;
  /* left: 65px; */
}

.header-panel-monitoreo {
  margin-bottom: 0px;
  /* background-color: #6D99CB; */
  background-color: var(--gl-light-gray);
  /* color: #fff; */
  color: #000;
  text-align: left;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  min-height: 2.5rem;
}

#panelMonitoreo[style*='display: block']{
    display: flex !important;
}

.header-panel-monitoreo + div > *{
  font-size: 0.75rem;
}

#dragbar{
  background-color: var(--gl-light-gray);
  height: 100%;
  float: right;
  width: 0.25rem;
  cursor: col-resize;
}

#dragbar.dragging{
  background-color: var(--gl-blue-dark);
}


:host ::ng-deep {
  .btn-primary:not(.dropdown-toggle){
    background-color: var(--gl-blue-dark);
  }

  #panelMonitoreo > .card > div:not(:first-child) {
    flex-grow: 1;
  }

  #rowBusqueda{
    padding: 1rem;
  }

  /* Estilos de tablas en panel lateral */
  div.panel-izq-table-container{
    overflow-y: auto !important;
    overflow-x: auto !important;

    table {
      > thead > tr{
        background-color: var(--gl-blue-dark) !important;
        color: #fff !important;
      }
      > tbody {
        > tr:nth-child(even) {
          background: var(--gl-light-gray);
        }
        > tr:hover { /* 4 tables */
          background-color: #EFF0F4 !important;
          > * {
            --bs-table-accent-bg: var(--bs-table-hover-bg);
          }
        }
      } 
    }

  }

  .table-responsive > table {

    > thead > tr {
      background-color: var(--gl-blue-dark);
      color: #fff;
    }

    > tbody > tr:nth-child(even) {
      background: var(--gl-light-gray);
    } 
  }

}
