<div id="rowBusqueda" class="col">
  <div class="row" style="margin-right: 0px; margin-left: 15px;">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding-left: 0px; padding-right: 0px;">
      <input (keyup)="onQuickFilterChanged($event)" type="text" ng-model="something.terms" placeholder="Buscar..." class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-change="something.search()" aria-invalid="false" style="">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-left: 0px; padding-right: 0px;">
      <button type="button" class="btn btn-primary">
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right" style="padding-left: 0px; padding-right: 0px;">
      <div ngbDropdown container="body">
        <button ngbDropdownToggle class="btn btn-primary">
          <i class="fa fa-fw fa-sliders fa-1"></i>
        </button>
        <div ngbDropdownMenu>
          <div class="container">
            <!-- <button ngbDropdownItem>Personalizar Panel</button> -->
            <label>
              Personalizar Panel
            </label>
            <div class="dropdown-divider"></div>
            <div>
              <label>
                <input (click)="onClickSetting('eye')" style="padding: 5px" type="checkbox" checked>
                Ver
              </label>
            </div>
            <div>
              <label>
                <input (click)="onClickSetting('imei')" style="padding: 5px" type="checkbox">
                IMEI
              </label>
            </div>
            <div>
              <label>
                <input (click)="onClickSetting('vehicle')" type="checkbox" checked>
                Vehículos
              </label>
            </div>
            <div>
              <label>
                <input (click)="onClickSetting('tag')" type="checkbox" checked>
                Mostrar nombre
              </label>
            </div>
            <div>
              <label>
                <input (click)="onClickSetting('follow')" type="checkbox" checked>
                Seguir Vehículo
              </label>
            </div>
            <div>
              <label>
                <input (click)="onClickSetting('limit')" type="checkbox" checked>
                Limite de velocidad
              </label>
            </div>
            <div>
              <label>
                <input (click)="onClickSetting('gps')" type="checkbox">
                GPS
              </label>
            </div>
            <div>
              <label>
                <input (click)="onClickSetting('gsm')" type="checkbox">
                GSM
              </label>
            </div>
            <div>
              <label>
                <input (click)="onClickSetting('transmission')" type="checkbox" checked>
                Transmisión
              </label>
            </div>
            <div>
              <label>
                <input (click)="onClickSetting('config')" type="checkbox" checked>
                Configurar
              </label>
            </div>
            <!-- <div class="">
              <input type="checkbox" name="" value="">
              <label for="">Recorrido</label>
            </div>
            <div class="">
              <input type="checkbox" name="" value="">
              <label for="">Localización</label>
            </div> -->
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<app-vehicle-config [display]="display" [config]="config" (eventDisplay)="onChangeDisplay($event)" (eventUpdate)="onUpdate($event)"></app-vehicle-config>
<div class="ag-theme-alpine" style="width: 100%;">
    <ag-grid-angular
    #agGrid
    style="width: 100%; height: calc(100vh - 9.875rem); font-size: 14px; overflow: auto;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    rowSelection="multiple"
    [defaultColDef]="defaultColDef"
    [rowHeight]="rowHeight"
    (gridReady)="onGridReady($event)"
    [embedFullWidthRows]="true"
    >
    </ag-grid-angular>
</div>
