<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card card-cascade narrower">
        <!--Card image-->
        <div class="view view-cascade gradient-card-header blue-gradient">
          <h5 class="mb-0">Lista de unidades</h5>
        </div>
        <!--/Card image-->
        <div class="card-body card-body-cascade text-center">
          <div id="map-container-google-8" class="z-depth-1-half map-container-5" style="height: 300px">
            <!-- <div class="" *ngFor="let vehicle of vehicles">
              <div class=""> {{vehicle.plate_number}}
              </div>
            </div> -->
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Placa</th>
                  <th scope="col">Fecha</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let vehicle of vehicles">
                  <td>{{vehicle.plate_number}}</td>
                  <td>{{vehicle.dt_tracker}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 mb-4">
      <div class="card card-cascade narrower">
        <!-- <div class="card-body card-body-cascade text-center"> -->
          <div id="map-container-google-8" class="z-depth-1-half map-container-5" style="height: 500px">
            <app-map></app-map>
            <!-- <div class="" *ngFor="let vehicle of vehicles">
              <div class=""> {{vehicle.plate_number}}
              </div>
            </div> -->
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
