.dashboard-wrapper {
  --dashboard-top-padding: 2rem;

  hr:not([size]){
    background-color: #000;
    margin: 0.375rem 0;
  }

  .header-padding{
    height: var(--dashboard-top-padding);
    background-color: var(--gl-blue-dark);
  }
  
  .dashboard-content{
    height: calc(100vh - var(--dashboard-top-padding));
    overflow: auto;
    background-color: var(--gl-body-background-color);
  }


}
  


