<div class="map-wrapper" id="wraper_map">

    <div class="map-border">
        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" name="loadingDashboardSpinner" size = "medium" color = "#fff" type = "ball-pulse" [fullScreen] = "false"><p style="color: white" class="text-center"> Cargando Dashboard... </p></ngx-spinner>

        <div class="row">
            <h4>Dash Board</h4>
            <hr>
        </div>

        <br>
        <div class="row">
            <h3>Estatus general de la Flota Vehicular</h3>
            <hr>
            <div class="col-xl">
                <ngx-charts-pie-chart
                    [scheme]="colorScheme"
                    [results]="data"
                    [gradient]="gradient"
                    [legend]="showLegend"

                    [legendPosition]="'below'"
                    [legendTitle]="''"

                >
                </ngx-charts-pie-chart>
            </div>
            <div class="col-sm table-responsive">
                <label>Relación de Vehículos</label>
                <button type="button" class="btn btn-success">cc</button>

                    <table class="table table-bordered">
                        <thead>
                            <tr class="table-active">
                                <th>En movimiento</th>
                                <th>Detenidos</th>
                                <th>Sin cobertura</th>
                                <th>Sin transmision</th>
                                <th>Corte de transmision</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <ul class="list-unstyled">
                                        <li *ngFor="let imei of imeiGreen">{{ imei }}</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="list-unstyled">
                                        <li *ngFor="let imei of imeiBlue">{{ imei }}</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="list-unstyled">
                                        <li *ngFor="let imei of imeiOrange">{{ imei }}</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="list-unstyled">
                                        <li *ngFor="let imei of imeiBlack">{{ imei }}</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="list-unstyled">
                                        <li *ngFor="let imei of imeiRed">{{ imei }}</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
        <br><br>
        <div class="row">
            <h4>Unidades en servicio y sin programación</h4>
            <hr>
            <div class="col-6">
                <label for="">
                    En servicio <br> {{in_service}}/{{in_service_percentage}}%
                </label>
                <ngx-charts-bar-horizontal-stacked
                    *ngIf="'bar-horizontal-stacked' === 'bar-horizontal-stacked'"
                    class="chart-container"
                    [view]="[700,100]"

                    [scheme]="colorScheme1111horizontalChart"

                    [results]="horizontalChart"

                >
                </ngx-charts-bar-horizontal-stacked>

                <label>
                    Sin programación <br> {{without_programming}}/{{without_programming_percentage}}%
                </label>

            </div>
        </div>
    </div>
</div>
