.dashboard-wrapper {
  --dashboard-top-padding: 2rem;
  --table-border-color: #d4d4d7;
  --table-header-bg: #ededed;

  hr:not([size]){
    background-color: #000;
    margin: 0.375rem 0;
  }

  .header-padding{
    height: var(--dashboard-top-padding);
    background-color: var(--gl-blue-dark);
  }
  
  .dashboard-content{
    height: calc(100vh - var(--dashboard-top-padding));
    overflow: auto;
    background-color: var(--gl-body-background-color);
    align-content: start;
  }

  .general-status-header{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px var(--table-border-color) solid;
    border-radius: 4px;
    height: 2.25rem;
  }

  .p-calendar-row{
    button{
      width: 10%;
      max-width: 4.5rem;
      border: 1px var(--table-border-color) solid;
      border-radius: 4px;
    }
  }

  table{
    width: 100%;
    vertical-align: middle;
    table-layout: fixed;
    
    thead th{
      background-color: var(--table-header-bg);
      --bs-table-accent-bg: none;
      text-align: center;
      font-size: 0.75rem;
      font-weight: 400;
      padding: 0.5rem 0.25rem;
      line-height: 0.625rem;
    }
    th, td{
      border: 1px var(--table-border-color) solid;
      ul{
        height: 100%;
        padding: 0.375rem 0.5rem;
        margin: 0;
        text-align: center;
      }
    }
    tbody tr{
      font-size: 0.875rem;
    }
  }

  .pie-chart-container{
    height: 21rem;
    width: 20rem;
  }

}

:host ::ng-deep{
  .dashboard-wrapper{
    .pie-chart-container .ngx-charts-outer{
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      ngx-charts-legend > div{
        width: 13rem !important;

        .legend-labels{
          background: inherit;

          .legend-label{
            margin: 1rem 0.5rem 0rem 0.5rem;
            &:first-child{
              margin-top: 0;
            }

            ngx-charts-legend-entry > span {
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              color: #000;
  
              &.active{
                font-weight: bold;
              }
  
              span.legend-label-color{
                color: #fff;
                display: flex;
                justify-content: center;
                font-weight: bold;
                padding: 1rem;
                align-items: center;
              }
              
              span.legend-label-text{
                text-align: end;
                margin-right: 0.5rem;
              }
            }
          }
        } 
      }

      svg.ngx-charts > g.pie-chart text {
        font-weight: bold;
      }
    }

    .p-calendar-row{
      p-calendar{
        span.p-calendar.p-calendar-w-btn{
          border-radius: 4px;
          border: 1px var(--table-border-color) solid;
          &:hover{
            border-color: #2196F3;
          }

          input.p-inputtext.p-component{
            border-radius: 4px;
          }
  
          button.p-datepicker-trigger{
            order: -1;
            border-radius: 4px 0px 0px 4px !important;
            &:focus{
              box-shadow: none;
            }
          }
        }
      }  
    }

  }
}
  


