<div
        class="d-flex flex-column justify-content-center align-items-center"
        style="position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 999999;" *ngIf="isUnderConstruction">
        <img
            src="./assets/images/en_construccion.png"
            alt="under_construction"
            style="display: flex; max-width: 50%; max-height: 20rem; margin-bottom: 1rem;">
        <span style="color: #fff;">Panel en construcción</span>
    </div>

<div class="container-fluid dashboard-wrapper" style="position: relative;" *ngIf="!isUnderConstruction">

    <!-- <div class="row header-padding"></div> -->
    <div class="row dashboard-content p-3 overflow-auto justify-content-center" >
        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" name="loadingDashboardSpinner" size = "medium" color = "#fff" type = "ball-pulse" [fullScreen] = "true"><p style="color: white" class="text-center"> Cargando Dashboard... </p></ngx-spinner>

        <div class="row p-card p-2 mb-3">
            <div class="col-12">
                <h3>Dash Board</h3>
                <hr>
            </div>
        </div>

        <br>
        <div class="row p-card p-2 mb-3 rounded">
            <div class="col-12">
                <h4>Estatus general de la Flota Vehicular</h4>
                <hr>
            </div>
            <div class="col-12 d-flex">
                <div class="row">
                    <div class="col-6">
                        <ngx-charts-pie-chart
                        [scheme]="colorScheme"
                        [results]="data"
                        [legend]="showLegend"
                        [legendPosition]="'left'"
                        [legendTitle]="''"
                        >
                        </ngx-charts-pie-chart>
                    </div>
                    <div class="col-6">
                        <div class="col-sm table-responsive">
                            <label>Relación de Vehículos</label>
                            <button type="button" class="btn btn-success">cc</button>

                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="table-active">
                                            <th>En movimiento</th>
                                            <th>Detenidos</th>
                                            <th>Sin cobertura</th>
                                            <th>Sin transmision</th>
                                            <th>Corte de transmision</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <ul class="list-unstyled">
                                                    <li *ngFor="let imei of imeiGreen">{{ imei }}</li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul class="list-unstyled">
                                                    <li *ngFor="let imei of imeiBlue">{{ imei }}</li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul class="list-unstyled">
                                                    <li *ngFor="let imei of imeiOrange">{{ imei }}</li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul class="list-unstyled">
                                                    <li *ngFor="let imei of imeiBlack">{{ imei }}</li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul class="list-unstyled">
                                                    <li *ngFor="let imei of imeiRed">{{ imei }}</li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="row p-card p-2 mb-3 rounded">
            <div class="col-12">
                <h4>Unidades en servicio y sin programación</h4>
                <hr>
            </div>

            <div class="col-6">
                <label for="">
                    En servicio <br> {{in_service}}/{{in_service_percentage}}%
                </label>
                <ngx-charts-bar-horizontal-stacked
                    *ngIf="'bar-horizontal-stacked' === 'bar-horizontal-stacked'"
                    class="chart-container"
                    [view]="[700,100]"
                    [gradient]="true"
                    [scheme]="colorSchemeHorizontalChart"

                    [results]="horizontalChart"

                >
                </ngx-charts-bar-horizontal-stacked>

                <label>
                    Sin programación <br> {{without_programming}}/{{without_programming_percentage}}%
                </label>

            </div>


        </div>
        <div class="row p-card p-2 mb-3 rounded">
            <div class="col-4">
                <h4>Vehículos que cometieron infracción</h4>
                <hr>
                <table class="table">
                    <thead>
                        <tr class="table-active">
                            <th scope="col">Vehículo</th>
                            <th scope="col">No de Infracciones</th>
                            <th scope="col">Infracción mas Grave</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vehicle of infraction">
                            <td>{{vehicle.name}}</td>
                            <td>{{vehicle.amount}}</td>
                            <td>{{vehicle.higher_speed}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-4">
                <h4>Vehículos que generaron alertas GPS</h4>
                <hr>

                <table  style="width:80%;">
                    <tr>
                        <td>Batería desconectada</td>
                        <td style="width: 50%;">
                            <ngb-progressbar
                                type="primary"
                                [value]="countgpsEvents.bateria_desconectada"
                                [max]="gpsEvents.length"
                                [height]="'20px'"
                            ></ngb-progressbar>

                        </td>
                        <td>{{countgpsEvents.bateria_desconectada}}</td>
                    </tr>
                    <tr>
                        <td>Frenada Brusca</td>
                        <td style="width: 50%;">
                            <ngb-progressbar
                                type="primary"
                                [value]="countgpsEvents.frenada_brusca"
                                [max]="gpsEvents.length"
                                [height]="'20px'"
                            ></ngb-progressbar>

                        </td>
                        <td style="text-align: center;">{{countgpsEvents.frenada_brusca}}</td>
                    </tr>
                </table><br> <br> <br>

                <table class="table">
                    <thead>
                        <tr class="table-active">
                            <th scope="col">Vehículo</th>
                            <th scope="col">No de Infracciones</th>
                            <th scope="col">Infracción mas Grave</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr *ngFor="let vehicle of infraction">
                            <td>{{vehicle.name}}</td>
                            <td>{{vehicle.amount}}</td>
                            <td>{{vehicle.higher_speed}}</td>
                        </tr> -->
                    </tbody>
                </table>

            </div>

            <div class="col-4">
                <h4>Vehículos que generaron alertas Seg. vehicular</h4>
                <hr>

            </div>
        </div>
</div>
