#panel_historial {
  //font-family: 'Roboto-Light,"Helvetica Neue",Helvetica,Arial,sans-serif';
  height: 100%;
  overflow: auto;
}

.label-form-gl{
  font-size: 0.9rem;
  text-align: right;
  font-weight: bold;
}

/* .ng-select.custom {
  border:0px;
  min-height: 0px;
  border-radius: 0;
  font-size: 0.9rem;
  height: 30px;
}
.ng-select.custom .ng-select-container  {
  min-height: 30px;
  border-radius: 0;
  height: 30px;
} */


/* .claseinputs {
  margin-top: 4px;
  // display: block;
  width: 100%;
  height: 22px;
  font-size: 0.9rem;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
} */

/* .claseinputs2 {
  margin-top: 4px;
  // display: block;
  height: 24px;
  font-size: 0.9rem;
  // line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  // background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
} */


/* .claseinputschck{
  margin-top: 7px;
} */



/* .btn-xs-gl {
  padding: 1px 5px;
  font-size: 0.9rem;
  line-height: 1.5;
  border-radius: 3px;
}
 */
/* .form-control-color-gl {
  width: 50px;
  //height: 20px; // Override fixed browser height
  padding: 3px;
  margin-bottom: 3px;;
  background-color: #EEE;
}
 */

#tbl_fechas tr:nth-child(odd) {
  background-color: #ffffff;
}
#tbl_fechas tr:nth-child(even) {
background-color: #ffffff !important;
}
#tbl_fechas thead th {
  background-color: #EFF0F4;
  color: #1f1d1d;
}
#tbl_fechas tbody td { /* 4 tables */
  border: 1px solid #EFF0F4;
  border-left: none;
  border-right: none;
  padding: 3px;
}
#tbl_fechas tbody tr:hover { /* 4 tables */
  background-color: #EFF0F4 !important;
}
#tbl_fechas tbody {
  overflow-x: auto;
  overflow-y: auto;
}

#tbl_fechas {
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
}

:host ::ng-deep{
  .p-dialog-content{
    padding: 0 1.5rem !important;
  }

  .p-dialog-header .error-dialog{
    background-color: red;
  }

  ng-select { 
    .ng-select-container {
      height: 2.625rem !important;
      color: #000;
      box-shadow: none !important;
    }

    &:not(.ng-select-disabled) > .ng-select-container:hover{
      border-color: #2196F3 !important;
    }
    
  }

  .ng-select-container, .ng-dropdown-panel-items{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: normal;
  }
  
  
}