
<p-dialog [(visible)]="display" (onHide)="onHide()" (onShow)="onShow()" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" class="gl-p-dialog">
    <ng-template class="p-dialog-title" pTemplate="header">
      <div>
        <i class="fa fa-plus me-2" aria-hidden="true"></i>
        <strong>Detalle de la actividad</strong>
      </div>
    </ng-template>

    <div class="dialog-body-container">

            <div style="width: 100%; max-width: 100%; margin-bottom: 1.5rem;">

              <div class="row">
                <div class="col-6" *ngIf="attributes" [ngClass]="{'d-none': !display_new, 'd-block': display_new}">
                  <b>Nuevo</b>
                </div>
                <div class="col-6" *ngIf="old" [ngClass]="{'d-none': !display_old, 'd-block': display_old}">
                  <b>Antiguo</b>
                </div>
                <hr *ngIf="attributes || old" [ngClass]="{'d-none': !display_new, 'd-block': display_new}">
                <div [ngClass]="{'col-12': !old, 'col-6': old}">
                  <div *ngFor="let item of attributes | keyvalue" style="word-wrap: break-word;"><b style="color:green;">{{item.key}}</b>: {{(item.value !== null) ? (item.value) : "-"}}</div>
                </div>
                <div class="col-6" *ngIf="old" [ngClass]="{'d-none': !display_old, 'd-block': display_old}">
                  <div *ngFor="let item of old | keyvalue" style="word-wrap: break-word;"><b style="color:red;">{{item.key}}</b>: {{(item.value !== null) ? (item.value) : "-"}}</div>
                </div>
              </div>
            </div>
          
    </div>

    
</p-dialog>
