<div class="loading-gral" *ngIf="loading"></div>
<div>
    <div class="card-body p-fluid" id="rowBusqueda" style="font-size: 1rem;">
        Crear Alerta GPS
    </div>

    <div style="background-color: var(--gl-gray); height: 0.125rem; width: 96%; margin-left: 2%; padding: 0;"></div>

    <div class="modal-body panel-izq-container p-fluid" style="height: calc(100vh - 9.125rem); max-height: calc(100vh - 9.125rem);">
        <form [formGroup]="alertForm" (submit)="onSubmit($event)">
            <div class="row">
                <div class="col-1 text-end" *ngIf="loadingEventSelectInput">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </div>
                <div class="col">
                    <div class="p-field">
                        <select class="form-select" aria-label="Alerta" disabled *ngIf="loadingEventSelectInput">
                            <option value="" disabled selected hidden>Cargando...</option>
                        </select>
                        <select class="form-select" aria-label="Alerta" formControlName="tipoAlerta" *ngIf="!loadingEventSelectInput">
                            <option value="" disabled selected hidden>Seleccione un tipo de alerta</option>
                            <option *ngFor="let event of events" [value]="event.name">{{ event.name }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row"></div>

            <div class="row">
                <label class="col-4">Nombre:</label>
                <div class="col-8">
                    <div class="text">
                        <input class="form-control" placeholder="Nombre del evento" aria-label="nombre del evento" formControlName="nombre" type="text" />
                    </div>
                </div>
            </div>

            <div class="row"></div>

            <div class="row">
                <div class="col-12">
                    <div class="p-field">
                        <label class="bg-subtitle text-end dropdown-toggle"></label>
                        <label class="bg-subtitle bg-subtitle-on-top text-center">Vehículos</label>
                        <p-multiSelect
                        [options]="vehicles"
                        optionLabel="label"
                        optionValue="value"
                        formControlName="vehicles"
                        defaultLabel="VEHÍCULOS"
                        [maxSelectedLabels]="3"
                        [selectedItemsLabel]="'{0} vehiculos seleccionados'"
                        ></p-multiSelect>
                    </div>
                </div>
            </div>

            <div class="row"></div>

            <div class="row d-flex justify-content-center">
                <div class="col-5">
                    <label class="row">
                        <span class="col-9 form-check-label">Evento activado:</span>
                        <div class="col-2">
                            <div class="form-check">
                                <input class="form-check-input" formControlName="chkEventoActivado" type="checkbox" />
                            </div>
                        </div>
                    </label>
                </div>
                <div class="col-5">
                    <label class="row">
                        <span class="col-9 form-check-label">Alerta del Sistema:</span>
                        <div class="col-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" formControlName="chkSonido" (change)="changeDisabled($event)"/>
                            </div>
                        </div>
                    </label>
                </div>
            </div>

            <div class="row"></div>

            <div class="row">
                <div class="col-12">
                    <div class="p-field">
                        <select class="form-select" (change)="playAudio" formControlName="sonido">
                            <option value="sonidos/alarm8.mp3">Sonido 1</option>
                            <option value="sonidos/alarm2.mp3">Sonido 2</option>
                            <option value="sonidos/CartoonBullets3.mp3">Sonido 3</option>
                            <option value="sonidos/DjStop4.mp3">Sonido 4</option>
                            <option value="sonidos/messenger5.mp3">Sonido 5</option>
                            <option value="sonidos/Ping6.mp3">Sonido 6</option>
                            <option value="sonidos/Twitter7.mp3">Sonido 7</option>
                            <option value="sonidos/Whatsap8.mp3">Sonido 8</option>
                            <option value="sonidos/WhatsappSound9.mp3">Sonido 9</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row"></div>

            <div class="row d-flex justify-content-center">
                <div class="col-5">
                    <label class="row">
                        <span class="col-9 form-check-label">Agregar Correo:</span>
                        <div class="col-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" formControlName="chkCorreo" (change)="changeDisabledEmail($event)" />
                            </div>
                        </div>
                    </label>
                </div>
                <div class="col-5"></div>
            </div>

            <div class="row"></div>

            <div class="form-group row">

                <div class="col-10">
                    <div class="text">
                        <input  class="form-control" placeholder="example@mail.com" formControlName="email" type="text" />
                    </div>
                </div>
                <i class="col-2 fa fa-plus-circle fa-2x" (click)="addEmail()" data-placement="bottom" aria-hidden="true"></i>

            </div>

            <div class="form-group row">
                <div class="col-9">
                    <div class="text">
                        <ul>
                          <li *ngFor="let email of alertForm.value.lista_emails; let i = index"  ng-bind-html-unsafe="opt" >
                              {{ email }}
                              <i class="col-2 fa fa-minus-circle" (click)="restEmail(i)" data-placement="bottom" aria-hidden="true"></i>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row w-100 justify-content-around">
                    <div class="col-5">
                        <button type="button" class="btn btn-success w-100" ui-sref="alertas-accesorios" (click)="clickShowPanel('ALERTS-GPS')">Cancelar</button>
                    </div>
                    <div class="col-5">
                        <button type="submit" class="btn btn-success w-100" [disabled]="loadingEventSelectInput">Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>