/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import "~leaflet/dist/leaflet.css";

@import "~@ng-select/ng-select/themes/default.theme.css";

@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

@import "primeicons/primeicons.css";
@import "primeng-lts/resources/primeng.min.css";
@import "primeng-lts/resources/themes/saga-blue/theme.css";

@font-face {
  font-family: Titillium-Semibold;
  src: url('./assets/fonts/Titillium-Semibold.woff') format('woff'), verdana;
}
@font-face {
  font-family: Titillium-Regular;
  src: url('./assets/fonts/Titillium-Regular.woff') format('woff');
}
@font-face {
  font-family: Titillium-Light;
  src: url('./assets/fonts/Titillium-Light.woff') format('woff');
}
@font-face {
  font-family: Cocogoose;
  src: url('./assets/fonts/cocogoose.woff') format('woff');
}
@font-face {
  font-family: Verdana-Bold;
  src: local('Verdana') format('woff');
  font-weight: bolder;
}

:root{
  --gl-danger-red: #dc3545;
  --gl-blue-dark: #1c3e65;
  --gl-light-blue: #0093e6;
  --gl-light-blue-alpha: rgba(33,150,243,0.1);
  --gl-light-gray: #f2f2f2;
  --gl-light-gray-hover: #dedede;
  --gl-gray: #c4c4c9;
  --gl-gray-hover: #646464;
  --gl-gray-subtitle: #dbdfe0;
  --gl-dark-gray: #727176;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// .leaflet-tooltip-left:before {
//   right: 0;
//   margin-right: -12px;
//   border-left-color: rgba(0, 0, 0, 0.4);
// }
// .leaflet-tooltip-right:before {
//     left: 0;
//     margin-left: -12px;
//     border-right-color: rgba(0, 0, 0, 0.4);
//     }
// .leaflet-tooltip-own {
//     position: absolute;
//     padding: 4px;
//     background-color: rgba(0, 0, 0, 0.4);
//     border: 0px solid #000;
//     color: #000;
//     white-space: nowrap;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     pointer-events: none;
//     box-shadow: 0 1px 3px rgba(0,0,0,0.4);
// }

div.leaflet-label-right {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  background-color: rgba(255, 255, 255, 0.81);
  border-width: 2px;
  border-style: dotted;
  border-color: #585858;
  padding: 2px !important;
  font: 9px "Helvetica Neue", Arial, Helvetica, sans-serif !important;
  font-family: cursive !important;
}

div.leaflet-label-right:before {
-webkit-user-select: auto;
-moz-user-select: auto;
content: none;
}

// div.leaflet-tooltip-own {
//   /* border-style: hidden;
//   background: none; */
//   background-color: rgba(255, 255, 255, 0.81);
//   border-width: 2px !important;
//   // border-style: dashed !important;
//   border-color: #000000;
//   left: 17px;
//   top: -17px;
//   padding: 2px !important;
//   font: 9px "Helvetica Neue", Arial, Helvetica, sans-serif !important;
// }

div.leaflet-tooltip-own {
  background-color: rgba(255, 255, 255, 0.90);//rgba(252, 250, 250, 0.95);
  border-width: 2px;
  padding: 2px !important;
  font: 9px "Helvetica Neue", Arial, Helvetica, sans-serif !important;


  background-clip: padding-box;
  border-color: rgba(0,0,0,0.25); //rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border-style: solid;
}

.p-card-header{
  padding-left: 1rem;
  background-color: var(--gl-blue-dark);
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-subtitle{
  padding: 0.2rem 1rem;
  font-weight: bold;
  border-radius: 4px;
  width: 100%;
  background-color: var(--gl-gray);
  color: #000000;
}

.bg-subtitle.bg-subtitle-on-top{
  display: block;
  background-color: transparent;
  height: 0px;
  margin: -1.55rem 0 1.55rem 0;
  padding: 0;
  overflow: visible;
}



.p-dropdown:not(.p-disabled).p-focus, .p-inputtext:enabled:focus{
  outline: none;
  box-shadow: none;
}

.btn-gl-light-blue,
.btn-info.active,
.show > .btn-info.dropdown-toggle{
  background-color: var(--gl-light-blue) !important;
  border-color: var(--gl-light-blue) !important;
  color: #ffffff !important;
}

.btn-info{
  background-color: transparent;
  border: none;
}
.btn-info:focus{
  outline: none !important;
  box-shadow: none !important;
}
.btn-info:focus:not(.btn-info.active, .show > .btn-info.dropdown-toggle){
  background: none;
}


.btn-info:hover:not(.btn-info.active, .show > .btn-info.dropdown-toggle.active){
  background-color: var(--gl-light-gray-hover);
  /* background-color: rgba(0,170,220,0.4); */
  border: none;
  color: #000000;
}

.btn-circle{
  border-radius: 50%;
}

thead.visible-on-scroll {
  position: relative;
  z-index: 1;

  > tr {
    position: sticky;
    top: 0;
    background-color: var(--gl-blue-dark) !important;
    color: white !important;
  }
}

.fa.fa-minus-circle:before {
  color: var(--gl-danger-red);
}