<div class="w-100 h-100 d-flex flex-column shadow-lg">
     <div class="popup-header d-flex justify-content-between align-items-center px-1">
          <span class="popup-title ms-2">
               <!--{{configuration.numero_placa}}{{configuration.nombre_grupo? ' - ('+configuration.nombre_grupo+')' : ''}}-->
               {{configuration.vehicles![0].plate_number}} {{configuration.vehicles![0].operation? ' - ('+configuration.vehicles![0].operation+')' : ''}}
          </span>
          <div class="d-flex gap-1 align-items-center">
               <img *ngIf="has_multimedia" pTooltip="Ver Multimedia" alt="logo" src="assets/images/ver_cipia.svg" class="popup-icon pe-auto" (click)="showMultimedia()"/>
               <img pTooltip="Abrir StreetView" alt="logo" src="assets/images/ver_street_view.png" class="popup-icon pe-auto" (click)="eventOnStreetView()"/>
               <img pTooltip="Mapa Principal" alt="logo" src="assets/images/ubicar_en_mapa.png" class="popup-icon pe-auto" (click)="eventOnMainMap()"/>
               <button class="close-button pe-auto" (click)="deletePopup()">
                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M16 8L8 16M8 8L16 16" stroke="#ffffff" stroke-width="2" stroke-linecap="round"></path> </g></svg>
               </button>
          </div>
     </div>
     
     <div class="popup-body">
          <div class="popup-event-header">
               <div class="event-title">
                    <img *ngIf="icons_available.includes(configuration.event.tipo); else default" [src]="'./assets/images/events/'+configuration.event.tipo+'.png'" class="popup-icon">
                    <ng-template #default>
                         <img [src]="'./assets/images/events/default-alert.png'" class="popup-icon">
                    </ng-template>
                    <span class="popup-title">
                         {{configuration.event.nombre?configuration.event.nombre:!configuration.event.mensaje_alerta.includes('undefi')?configuration.event.mensaje_alerta:configuration.event.tipo | uppercase}}
                    </span>
               </div>
               <div *ngIf="has_multimedia && displayMultimedia && multimedias.length>0" class="multimedia-controls">
                    <button *ngIf="multimedias.length>1" class="control-button pe-auto" (click)="next()">
                         <i class="pi pi-chevron-left"></i>
                    </button>
                    <span class="popup-title">{{activeIndex}}/{{multimedias.length}}</span>
                    <button *ngIf="multimedias.length>1" class="control-button pe-auto" (click)="prev()">
                         <i class="pi pi-chevron-right"></i>
                    </button>
               </div>
          </div>
          <div *ngIf="displayMultimedia" class="multimedia-body">
               <div class="multimedia-wrapper" #multimedia_wrapper>
                    <div *ngFor="let item of multimedias; let i = index" class="multimedia-item" [ngClass]="i!=activeIndex-1?'d-none':''">
                         <img *ngIf="item.type=='image'" [src]="item.url" style="height: 100%; width:100%;" alt="cargando..."/>
                         <video width="100%" height="100%" controls type="video/mp4" *ngIf="item.type=='video'" [src]="item.url"></video>
                    </div>
               </div>
          </div>
          <div [id]="configuration.mapConf?.containerId.toString()" class="w-100 h-100 popup-content">
          </div>
          <div class="popup-event-footer">
               <div class="event-title">
                    <img src="./assets/images/events/conductor.png" class="popup-icon">
                    <span class="popup-title">{{configuration.vehicles![0].nombre_conductor? configuration.vehicles![0].nombre_conductor : 'Conductor no identificado'}}</span>
               </div>
          </div>
     </div>
</div>