<br>
<div class="row" style="padding-top: 0px">
    <div class="col-md-9">
      <h4 class="m-t-none" style="margin-left: 15px;">ALERTAS GPS</h4>
    </div>
    <div class="col-md-3">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group">
            <button type="button" class="btn btn-warning" (click)="clickShowPanel('ALERTS-GPS-CREATE')" >
              <span class="fa fa-plus"></span>
            </button>
          </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <app-gps-alerts-list></app-gps-alerts-list>
</div>
